openapi: 3.0.3
info:
  title: Girder REST API (Emory Digital Slide Archive)
  version: 3.2.14
  description: OpenAPI 3.0 conversion of the Girder REST API powering the Emory Digital Slide Archive (computablebrain). Converted
    faithfully from the live Swagger 2.0 document at https://computablebrain.emory.edu/api/v1/describe.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
servers:
- url: https://computablebrain.emory.edu/api/v1
tags:
- description: annotation resource
  name: annotation
- description: api_key resource
  name: api_key
- description: assetstore resource
  name: assetstore
- description: collection resource
  name: collection
- description: dicomweb_assetstore resource
  name: dicomweb_assetstore
- description: file resource
  name: file
- description: files resource
  name: files
- description: folder resource
  name: folder
- description: group resource
  name: group
- description: histomicsui resource
  name: histomicsui
- description: homepage resource
  name: homepage
- description: item resource
  name: item
- description: job resource
  name: job
- description: large_image resource
  name: large_image
- description: notification resource
  name: notification
- description: resource resource
  name: resource
- description: slicer_cli_web resource
  name: slicer_cli_web
- description: system resource
  name: system
- description: tcga resource
  name: tcga
- description: token resource
  name: token
- description: user resource
  name: user
- description: worker resource
  name: worker
paths:
  /annotation:
    get:
      operationId: annotation_find_annotation
      parameters:
      - name: itemId
        in: query
        required: false
        description: List all annotations in this item.
        schema:
          type: string
      - name: userId
        in: query
        required: false
        description: List all annotations created by this user.
        schema:
          type: string
      - name: text
        in: query
        required: false
        description: Pass this to perform a full text search for annotation names and descriptions.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: Pass to lookup an annotation by exact name match.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: lowerName
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        '400':
          description: A parameter was invalid.
        '403':
          description: Read access was denied on the parent item.
      summary: Search for annotations.
      tags:
      - annotation
    post:
      operationId: annotation_createAnnotation_post_annotation
      parameters:
      - name: itemId
        in: query
        required: true
        description: The ID of the associated item.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        '400':
          description: 'ID was invalid.


            Invalid JSON passed in request body.


            Validation Error: JSON doesn''t follow schema.'
        '403':
          description: Read access was denied for the item.
      summary: Create an annotation.
      tags:
      - annotation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/string'
        required: true
        description: A JSON object containing the annotation.
  /annotation/counts:
    get:
      operationId: annotation_getItemListAnnotationCounts_counts
      parameters:
      - name: items
        in: query
        required: true
        description: A comma-separated list of item ids.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Get annotation counts for a list of items.  If using actual a database other than DocumentDB, this also indicates
        if items are referenced as annotations.
      tags:
      - annotation
  /annotation/folder/{id}:
    delete:
      operationId: annotation_deleteFolderAnnotations_delete_folder_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the folder
        schema:
          type: string
      - name: recurse
        in: query
        required: false
        description: Whether or not to retrieve all annotations from subfolders
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
      summary: Delete all user-owned annotations from the items in a folder
      tags:
      - annotation
    get:
      operationId: annotation_returnFolderAnnotations_folder_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the folder
        schema:
          type: string
      - name: recurse
        in: query
        required: false
        description: Whether or not to retrieve all annotations from subfolders
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: created
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: -1
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Get the user-owned annotations from the items in a folder
      tags:
      - annotation
  /annotation/folder/{id}/access:
    put:
      operationId: annotation_setFolderAnnotationAccess_put_folder_id_access
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the folder
        schema:
          type: string
      - name: access
        in: query
        required: true
        description: The JSON-encoded access control list.
        schema:
          type: string
      - name: public
        in: query
        required: false
        description: Whether the annotation should be publicly visible.
        schema:
          type: boolean
      - name: recurse
        in: query
        required: false
        description: Whether or not to retrieve all annotations from subfolders
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
      summary: Set the access for all the user-owned annotations from the items in a folder
      tags:
      - annotation
  /annotation/folder/{id}/create:
    get:
      operationId: annotation_canCreateFolderAnnotations_folder_id_create
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the folder
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
      summary: Check if the user can create annotations in a folder
      tags:
      - annotation
  /annotation/folder/{id}/present:
    get:
      operationId: annotation_existFolderAnnotations_folder_id_present
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the folder
        schema:
          type: string
      - name: recurse
        in: query
        required: false
        description: Whether or not to recursively check subfolders for annotations
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Check if the user owns any annotations for the items in a folder
      tags:
      - annotation
  /annotation/images:
    get:
      description: By default, this endpoint will return a list of recently annotated images.  This list can be further filtered
        by passing the creatorId and/or imageName parameters.  The creatorId parameter will limit results to annotations created
        by the given user.  The imageName parameter will only include images whose name (or a token in the name) begins with
        the given string.
      operationId: annotation_findAnnotatedImages_images
      parameters:
      - name: creatorId
        in: query
        required: false
        description: Limit to annotations created by this user
        schema:
          type: string
      - name: imageName
        in: query
        required: false
        description: Filter results by image name (case-insensitive)
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: updated
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: -1
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Search for annotated images.
      tags:
      - annotation
  /annotation/item/{id}:
    delete:
      description: This deletes all annotation model records.
      operationId: annotation_deleteItemAnnotations_delete_item_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Write access was denied for the item.
      summary: Delete all annotations for an item.
      tags:
      - annotation
    get:
      description: This returns a list of annotation model records.
      operationId: annotation_getItemAnnotations_item_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Read access was denied for the item.
      summary: Get all annotations for an item.
      tags:
      - annotation
    post:
      operationId: annotation_createItemAnnotations_post_item_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: 'ID was invalid.


            Invalid JSON passed in request body.


            Validation Error: JSON doesn''t follow schema.'
        '403':
          description: Write access was denied for the item.
      summary: Create multiple annotations on an item.
      tags:
      - annotation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/string'
        required: true
        description: A JSON list of annotation model records or annotations.  If these are complete models, the value of the
          "annotation" key is used and the other information is ignored (such as original creator ID).
  /annotation/item/{id}/plot/data:
    post:
      operationId: annotation_getItemPlottableData_post_item_id_plot_data
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: adjacentItems
        in: query
        required: false
        description: Whether to include adjacent item data.
        schema:
          type: string
          enum:
          - 'false'
          - 'true'
          - __all__
          default: false
      - name: keys
        in: query
        required: true
        description: A comma separated list of data keys to retrieve (not json).
        schema:
          type: string
      - name: requiredKeys
        in: query
        required: false
        description: A comma separated list of data keys that must be non null in all response rows (not json).
        schema:
          type: string
      - name: sources
        in: query
        required: false
        description: An optional comma separated list that can contain folder, item, annotation, annotationelement, datafile.
        schema:
          type: string
      - name: uuid
        in: query
        required: false
        description: An optional uuid to allow cancelling a previous request.  If specified and there are any outstanding
          requests with the same uuid, they may be cancelled to save resources.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Read access was denied for the item.
      summary: Get plottable data related to an item and its annotations.
      tags:
      - annotation
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                annotations:
                  type: string
                  description: A JSON list of annotation IDs that should be included.  An entry of \__all__ will include all
                    annotations.
                compute:
                  type: string
                  description: 'A dictionary with keys "columns": a list of columns to include in the computation; if unspecified
                    or an empty list, no computation is done, "function": a string with the name of the function, such as
                    umap, "params": additional parameters to pass to the function.  If none of the requiredKeys are compute.(x|y|z),
                    the computation will not be performed.  Only rows which have all selected columns present will be included
                    in the computation.'
  /annotation/item/{id}/plot/list:
    post:
      operationId: annotation_getItemPlottableElements_post_item_id_plot_list
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: adjacentItems
        in: query
        required: false
        description: Whether to include adjacent item data.
        schema:
          type: string
          enum:
          - 'false'
          - 'true'
          - __all__
          default: false
      - name: sources
        in: query
        required: false
        description: An optional comma separated list that can contain folder, item, annotation, annotationelement, datafile.
        schema:
          type: string
      - name: uuid
        in: query
        required: false
        description: An optional uuid to allow cancelling a previous request.  If specified and there are any outstanding
          requests with the same uuid, they may be cancelled to save resources.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Read access was denied for the item.
      summary: Get a list of plottable data related to an item and its annotations.
      tags:
      - annotation
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                annotations:
                  type: string
                  description: A JSON list of annotation IDs that should be included.  An entry of \__all__ will include all
                    annotations.
  /annotation/old:
    delete:
      operationId: annotation_deleteOldAnnotations_delete_old
      parameters:
      - name: age
        in: query
        required: false
        description: The minimum age in days.
        schema:
          type: integer
          format: int32
          default: 30
      - name: versions
        in: query
        required: false
        description: Keep at least this many history entries for each annotation.
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Delete old annotations.
      tags:
      - annotation
    get:
      operationId: annotation_getOldAnnotations_old
      parameters:
      - name: age
        in: query
        required: false
        description: The minimum age in days.
        schema:
          type: integer
          format: int32
          default: 30
      - name: versions
        in: query
        required: false
        description: Keep at least this many history entries for each annotation.
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Report on old annotations.
      tags:
      - annotation
  /annotation/schema:
    get:
      description: In addition to the schema, if IDs are specified on elements, all IDs must be unique.
      operationId: annotation_getAnnotationSchema_schema
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Get the official Annotation schema
      tags:
      - annotation
      parameters: []
  /annotation/{id}:
    delete:
      operationId: annotation_deleteAnnotation_delete_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Write access was denied for the annotation.
      summary: Delete an annotation.
      tags:
      - annotation
    get:
      description: Use "size" or "details" as possible sort keys.
      operationId: annotation_getAnnotation_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      - name: left
        in: query
        required: false
        description: The left column of the area to fetch.
        schema:
          type: number
          format: float
      - name: right
        in: query
        required: false
        description: The right column (exclusive) of the area to fetch.
        schema:
          type: number
          format: float
      - name: top
        in: query
        required: false
        description: The top row of the area to fetch.
        schema:
          type: number
          format: float
      - name: bottom
        in: query
        required: false
        description: The bottom row (exclusive) of the area to fetch.
        schema:
          type: number
          format: float
      - name: low
        in: query
        required: false
        description: The lowest z value of the area to fetch.
        schema:
          type: number
          format: float
      - name: high
        in: query
        required: false
        description: The highest z value (exclusive) of the area to fetch.
        schema:
          type: number
          format: float
      - name: minimumSize
        in: query
        required: false
        description: Only annotations larger than or equal to this size in pixels will be returned.  Size is determined by
          the length of the diagonal of the bounding box of an element.  This probably should be 1 at the maximum zoom, 2
          at the next level down, 4 at the next, etc.
        schema:
          type: number
          format: float
      - name: maxDetails
        in: query
        required: false
        description: Limit the number of annotations returned based on complexity.  The complexity of an annotation is how
          many points are used to defined it.  This is applied in addition to the limit.  Using maxDetails helps ensure results
          will be able to be rendered.
        schema:
          type: integer
          format: int32
      - name: minElements
        in: query
        required: false
        description: If maxDetails is specified, always return at least this many elements, even if they are very detailed.
        schema:
          type: integer
          format: int32
      - name: centroids
        in: query
        required: false
        description: If true, only return the centroids of each element.  The results are returned as a packed binary array
          with a json wrapper.
        schema:
          type: boolean
      - name: bbox
        in: query
        required: false
        description: If true, add _bbox records to each element.  These are computed when the annotation is stored and cannot
          be modified.  Cannot be used with the centroids option.
        schema:
          type: boolean
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: _id
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: 1
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Read access was denied for the annotation.
      summary: Get an annotation by id.
      tags:
      - annotation
    patch:
      operationId: annotation_patchAnnotation_patch_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '204':
          description: No Content; the annotation was successfully updated but is not returned
        '400':
          description: 'Invalid JSON passed in request body.


            Validation Error: JSON doesn''t follow schema.'
        '403':
          description: Write access was denied for the item.
      summary: Patch an annotation or its elements.
      tags:
      - annotation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/string'
        required: true
        description: A JSON object containing the annotation patch.  This is a list.  Each entry is an operation that contains
          "op", "path", and possibly "value".  "op" can be any of "replace", "add", or "remove".  "path" is either a root
          property (e.g., "name"), or "elements/id:{element id}".  Any path to a dictionary or list can be extended via .../(key
          or index) components.  Add and replace operations must include the value.
    put:
      operationId: annotation_updateAnnotation_put_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      - name: itemId
        in: query
        required: false
        description: Pass this to move the annotation to a new item.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: 'Invalid JSON passed in request body.


            Validation Error: JSON doesn''t follow schema.'
        '403':
          description: Write access was denied for the item.
      summary: Update an annotation or move it to a different item.
      tags:
      - annotation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/string'
        description: A JSON object containing the annotation.  If the "annotation":"elements" property is not set, the elements
          will not be modified.
  /annotation/{id}/access:
    get:
      operationId: annotation_getAnnotationAccess_id_access
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Admin access was denied for the annotation.
      summary: Get the access control list for an annotation.
      tags:
      - annotation
    put:
      operationId: annotation_updateAnnotationAccess_put_id_access
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      - name: access
        in: query
        required: true
        description: The JSON-encoded access control list.
        schema:
          type: string
      - name: public
        in: query
        required: false
        description: Whether the annotation should be publicly visible.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Admin access was denied for the annotation.
      summary: Update the access control list for an annotation.
      tags:
      - annotation
  /annotation/{id}/copy:
    post:
      operationId: annotation_copyAnnotation_post_id_copy
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      - name: itemId
        in: query
        required: true
        description: The ID of the destination item.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Write access was denied for the item.
      summary: Copy an annotation from one item to an other.
      tags:
      - annotation
  /annotation/{id}/history:
    get:
      operationId: annotation_getAnnotationHistoryList_id_history
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 0
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: _version
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: -1
      responses:
        '200':
          description: Success
        '403':
          description: Read access was denied for the annotation.
      summary: Get a list of an annotation's history.
      tags:
      - annotation
  /annotation/{id}/history/revert:
    put:
      description: This can be used to undelete an annotation by reverting to the most recent version.
      operationId: annotation_revertAnnotationHistory_put_id_history_revert
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      - name: version
        in: query
        required: false
        description: The version of the annotation.  If not specified, if the annotation was deleted this undeletes it.  If
          it was not deleted, this reverts to the previous version.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: Annotation history version not found.
        '403':
          description: Read access was denied for the annotation.
      summary: Revert an annotation to a specific version.
      tags:
      - annotation
  /annotation/{id}/history/{version}:
    get:
      operationId: annotation_getAnnotationHistory_id_history_version
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: The version of the annotation.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: Annotation history version not found.
        '403':
          description: Read access was denied for the annotation.
      summary: Get a specific version of an annotation's history.
      tags:
      - annotation
  /annotation/{id}/metadata:
    delete:
      operationId: annotation_deleteMetadata_delete_id_metadata
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '400':
          description: 'ID was invalid.


            Invalid JSON passed in request body.


            Metadata key name was invalid.'
        '403':
          description: Write access was denied for the annotation.
      summary: Delete metadata (annotation.attributes) fields on an annotation.
      tags:
      - annotation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/string'
        required: true
        description: A JSON list containing the metadata fields to delete
    put:
      description: Set metadata fields to null in order to delete them.
      operationId: annotation_setMetadata_put_id_metadata
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      - name: allowNull
        in: query
        required: false
        description: Whether "null" is allowed as a metadata value.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        '400':
          description: 'ID was invalid.


            Invalid JSON passed in request body.


            Metadata key name was invalid.'
        '403':
          description: Write access was denied for the annotation.
      summary: Set metadata (annotation.attributes) fields on an annotation.
      tags:
      - annotation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/string'
        required: true
        description: A JSON object containing the metadata keys to add
  /annotation/{id}/{format}:
    get:
      description: Use "size" or "details" as possible sort keys.
      operationId: annotation_getAnnotationWithFormat_id_format
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the annotation.
        schema:
          type: string
      - name: format
        in: path
        required: true
        description: The format of the annotation.
        schema:
          type: string
          enum:
          - geojson
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Read access was denied for the annotation.
      summary: Get an annotation by id in a specific format.
      tags:
      - annotation
  /api_key:
    get:
      description: Only site administrators may list keys for other users. If no userId parameter is passed, lists keys for
        the current user.
      operationId: api_key_listKeys_api_key
      parameters:
      - name: userId
        in: query
        required: false
        description: ID of the user whose keys to list.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: name
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: 1
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: List API keys for a given user.
      tags:
      - api_key
    post:
      operationId: api_key_createKey_post_api_key
      parameters:
      - name: name
        in: query
        required: false
        description: Name for the API key.
        schema:
          type: string
          default: ''
      - name: scope
        in: query
        required: false
        description: JSON list of scopes for this key.
        schema:
          type: string
      - name: tokenDuration
        in: query
        required: false
        description: Max number of days tokens created with this key will last.
        schema:
          type: string
      - name: active
        in: query
        required: false
        description: Whether the key is currently active.
        schema:
          type: boolean
          default: true
      - name: targetUserId
        in: query
        required: false
        description: Id of user to apply the key to
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Create a new API key.
      tags:
      - api_key
  /api_key/token:
    post:
      operationId: api_key_createToken_post_token
      parameters:
      - name: key
        in: query
        required: true
        description: The API key.
        schema:
          type: string
      - name: duration
        in: query
        required: false
        description: Number of days that the token should last.
        schema:
          type: number
          format: float
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Create a token from an API key.
      tags:
      - api_key
  /api_key/{id}:
    delete:
      operationId: api_key_deleteKey_delete_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the API key to delete.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Delete an API key.
      tags:
      - api_key
    put:
      operationId: api_key_updateKey_put_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the API key.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: Name for the key.
        schema:
          type: string
      - name: scope
        in: query
        required: false
        description: JSON list of scopes for this key.
        schema:
          type: string
          default: []
      - name: tokenDuration
        in: query
        required: false
        description: Max number of days tokens created with this key will last.
        schema:
          type: string
      - name: active
        in: query
        required: false
        description: Whether the key is currently active.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Update an API key.
      tags:
      - api_key
  /assetstore:
    get:
      operationId: assetstore_find_assetstore
      parameters:
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: name
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: 1
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
        '403':
          description: You are not an administrator.
      summary: List assetstores.
      tags:
      - assetstore
    post:
      description: You must be an administrator to call this.
      operationId: assetstore_createAssetstore_post_assetstore
      parameters:
      - name: name
        in: query
        required: true
        description: Unique name for the assetstore.
        schema:
          type: string
      - name: type
        in: query
        required: true
        description: Type of the assetstore.
        schema:
          type: integer
          format: int32
      - name: root
        in: query
        required: false
        description: Root path on disk (for filesystem type).
        schema:
          type: string
      - name: perms
        in: query
        required: false
        description: File creation permissions (for filesystem type).
        schema:
          type: string
      - name: db
        in: query
        required: false
        description: Database name (for GridFS type)
        schema:
          type: string
      - name: mongohost
        in: query
        required: false
        description: Mongo host URI (for GridFS type)
        schema:
          type: string
      - name: replicaset
        in: query
        required: false
        description: Replica set name (for GridFS type)
        schema:
          type: string
      - name: bucket
        in: query
        required: false
        description: The S3 bucket to store data in (for S3 type).
        schema:
          type: string
      - name: prefix
        in: query
        required: false
        description: Optional path prefix within the bucket under which files will be stored (for S3 type).
        schema:
          type: string
          default: ''
      - name: accessKeyId
        in: query
        required: false
        description: The AWS access key ID to use for authentication (for S3 type).
        schema:
          type: string
      - name: secret
        in: query
        required: false
        description: The AWS secret key to use for authentication (for S3 type).
        schema:
          type: string
      - name: service
        in: query
        required: false
        description: The S3 service host (for S3 type).  Default is s3.amazonaws.com.  This can be used to specify a protocol
          and port as well using the form [http[s]://](host domain)[:(port)]. Do not include the bucket name here.
        schema:
          type: string
          default: ''
      - name: readOnly
        in: query
        required: false
        description: If this assetstore is read-only, set this to true.
        schema:
          type: boolean
          default: false
      - name: region
        in: query
        required: false
        description: The AWS region to which the S3 bucket belongs.
        schema:
          type: string
          default: us-east-1
      - name: inferCredentials
        in: query
        required: false
        description: The credentials for connecting to S3 will be inferred by Boto rather than explicitly passed. Inferring
          credentials will ignore accessKeyId and secret.
        schema:
          type: boolean
      - name: serverSideEncryption
        in: query
        required: false
        description: Whether to use S3 SSE to encrypt the objects uploaded to this bucket (for S3 type).
        schema:
          type: boolean
          default: false
      - name: allowS3AcceleratedTransfer
        in: query
        required: false
        description: Whether to allow clients to requests a data transfer using S3 transfer acceleration.
        schema:
          type: boolean
          default: false
      - name: url
        in: query
        required: false
        description: The base URL for the DICOMweb server (for DICOMweb)
        schema:
          type: string
      - name: qido_prefix
        in: query
        required: false
        description: The QIDO URL prefix for the server, if needed (for DICOMweb)
        schema:
          type: string
      - name: wado_prefix
        in: query
        required: false
        description: The WADO URL prefix for the server, if needed (for DICOMweb)
        schema:
          type: string
      - name: auth_type
        in: query
        required: false
        description: The authentication type required for the server, if needed (for DICOMweb)
        schema:
          type: string
      - name: auth_token
        in: query
        required: false
        description: Token for authentication if needed (for DICOMweb)
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assetstore'
        '400':
          description: A parameter was invalid.
        '403':
          description: You are not an administrator.
      summary: Create a new assetstore.
      tags:
      - assetstore
  /assetstore/all_imports:
    get:
      operationId: assetstore_listAllImports_all_imports
      parameters:
      - name: unique
        in: query
        required: false
        description: If true, only show unique imports
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: started
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: -1
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: List all past imports for all assetstores.
      tags:
      - assetstore
  /assetstore/import/{id}:
    get:
      operationId: assetstore_getImport_import_id
      parameters:
      - name: id
        in: path
        required: true
        description: ID of an import
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Get import for record from ID.
      tags:
      - assetstore
  /assetstore/{id}:
    delete:
      description: This will fail if there are any files in the assetstore.
      operationId: assetstore_deleteAssetstore_delete_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: 'A parameter was invalid.


            The assetstore is not empty.'
        '403':
          description: You are not an administrator.
      summary: Delete an assetstore.
      tags:
      - assetstore
    get:
      operationId: assetstore_getAssetstore_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
        '403':
          description: You are not an administrator.
      summary: Get information about an assetstore.
      tags:
      - assetstore
    put:
      operationId: assetstore_updateAssetstore_put_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: name
        in: query
        required: true
        description: Unique name for the assetstore.
        schema:
          type: string
      - name: root
        in: query
        required: false
        description: Root path on disk (for Filesystem type)
        schema:
          type: string
      - name: perms
        in: query
        required: false
        description: File creation permissions (for Filesystem type)
        schema:
          type: string
      - name: db
        in: query
        required: false
        description: Database name (for GridFS type)
        schema:
          type: string
      - name: mongohost
        in: query
        required: false
        description: Mongo host URI (for GridFS type)
        schema:
          type: string
      - name: replicaset
        in: query
        required: false
        description: Replica set name (for GridFS type)
        schema:
          type: string
      - name: bucket
        in: query
        required: false
        description: The S3 bucket to store data in (for S3 type).
        schema:
          type: string
      - name: prefix
        in: query
        required: false
        description: Optional path prefix within the bucket under which files will be stored (for S3 type).
        schema:
          type: string
          default: ''
      - name: accessKeyId
        in: query
        required: false
        description: The AWS access key ID to use for authentication (for S3 type).
        schema:
          type: string
      - name: secret
        in: query
        required: false
        description: The AWS secret key to use for authentication (for S3 type).
        schema:
          type: string
      - name: service
        in: query
        required: false
        description: The S3 service host (for S3 type).  Default is s3.amazonaws.com.  This can be used to specify a protocol
          and port as well using the form [http[s]://](host domain)[:(port)]. Do not include the bucket name here.
        schema:
          type: string
          default: ''
      - name: readOnly
        in: query
        required: false
        description: If this assetstore is read-only, set this to true.
        schema:
          type: boolean
      - name: region
        in: query
        required: false
        description: The AWS region to which the S3 bucket belongs.
        schema:
          type: string
          default: us-east-1
      - name: current
        in: query
        required: true
        description: Whether this is the current assetstore
        schema:
          type: boolean
      - name: inferCredentials
        in: query
        required: false
        description: The credentials for connecting to S3 will be inferred by Boto rather than explicitly passed. Inferring
          credentials will ignore accessKeyId and secret.
        schema:
          type: boolean
      - name: serverSideEncryption
        in: query
        required: false
        description: Whether to use S3 SSE to encrypt the objects uploaded to this bucket (for S3 type).
        schema:
          type: boolean
          default: false
      - name: allowS3AcceleratedTransfer
        in: query
        required: false
        description: Whether to allow clients to requests a data transfer using S3 transfer acceleration.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assetstore'
        '400':
          description: A parameter was invalid.
        '403':
          description: You are not an administrator.
      summary: Update an existing assetstore.
      tags:
      - assetstore
  /assetstore/{id}/files:
    get:
      operationId: assetstore_getAssetstoreFiles_id_files
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: _id
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: 1
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
        '403':
          description: You are not an administrator.
      summary: Get a list of files controlled by an assetstore.
      tags:
      - assetstore
  /assetstore/{id}/import:
    post:
      description: This does not move or copy the existing data, it just creates references to it in the Girder data hierarchy.
        Deleting those references will not delete the underlying data. This operation is currently only supported for S3 assetstores.
      operationId: assetstore_importDataWrapper_post_id_import
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: importPath
        in: query
        required: false
        description: Root path within the underlying storage system to import.
        schema:
          type: string
      - name: destinationId
        in: query
        required: true
        description: ID of a folder, collection, or user in Girder under which the data will be imported.
        schema:
          type: string
      - name: destinationType
        in: query
        required: true
        description: Type of the destination resource.
        schema:
          type: string
          enum:
          - folder
          - collection
          - user
      - name: progress
        in: query
        required: false
        description: Whether to record progress on the import.
        schema:
          type: boolean
          default: false
      - name: leafFoldersAsItems
        in: query
        required: false
        description: Whether folders containing only files should be imported as items.
        schema:
          type: boolean
          default: false
      - name: fileIncludeRegex
        in: query
        required: false
        description: If set, only filenames matching this regular expression will be imported.
        schema:
          type: string
      - name: fileExcludeRegex
        in: query
        required: false
        description: If set, only filenames that do not match this regular expression will be imported. If a file matches
          both the include and exclude regex, it will be excluded.
        schema:
          type: string
      - name: excludeExisting
        in: query
        required: false
        description: If true, then a file with an import path that is already in the system is not imported, even if it is
          not in the destination hierarchy.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
        '403':
          description: You are not an administrator.
      summary: Import existing data into an assetstore.
      tags:
      - assetstore
  /assetstore/{id}/import/single_path:
    post:
      operationId: assetstore_importSinglePath_post_id_import_single_path
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: itemId
        in: query
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: path
        in: query
        required: true
        description: The new import path of the file.
        schema:
          type: string
      - name: name
        in: query
        required: true
        description: The name to use for the file.
        schema:
          type: string
      - name: mimeType
        in: query
        required: false
        description: The mimetyoe of the file.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          description: ID was invalid.
        '403':
          description: Write access was denied on the parent folder.
      summary: Import a single path into an assetstore.
      tags:
      - assetstore
  /assetstore/{id}/imports:
    get:
      operationId: assetstore_listImports_id_imports
      parameters:
      - name: id
        in: path
        required: true
        description: An assetstore ID
        schema:
          type: string
      - name: unique
        in: query
        required: false
        description: If true, only show unique imports
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: started
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: -1
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: List all imports for a given assetstore.
      tags:
      - assetstore
  /collection:
    get:
      operationId: collection_find_collection
      parameters:
      - name: text
        in: query
        required: false
        description: Pass this to perform a text search for collections.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: name
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Collection'
                type: array
        '400':
          description: A parameter was invalid.
      summary: List or search for collections.
      tags:
      - collection
    post:
      operationId: collection_createCollection_post_collection
      parameters:
      - name: name
        in: query
        required: true
        description: Name for the collection. Must be unique.
        schema:
          type: string
      - name: description
        in: query
        required: false
        description: Collection description.
        schema:
          type: string
      - name: public
        in: query
        required: false
        description: Whether the collection should be publicly visible.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: A parameter was invalid.
        '403':
          description: You are not authorized to create collections.
      summary: Create a new collection.
      tags:
      - collection
  /collection/details:
    get:
      operationId: collection_getCollectionsDetails_details
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Get detailed information of accessible collections.
      tags:
      - collection
      parameters: []
  /collection/{id}:
    delete:
      operationId: collection_deleteCollection_delete_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Admin permission denied on the collection.
      summary: Delete a collection by ID.
      tags:
      - collection
    get:
      operationId: collection_getCollection_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: ID was invalid.
        '403':
          description: Read permission denied on the collection.
      summary: Get a collection by ID.
      tags:
      - collection
    put:
      operationId: collection_updateCollection_put_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: Unique name for the collection.
        schema:
          type: string
      - name: description
        in: query
        required: false
        description: Collection description.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: ID was invalid.
        '403':
          description: Write permission denied on the collection.
      summary: Edit a collection by ID.
      tags:
      - collection
  /collection/{id}/access:
    get:
      operationId: collection_getCollectionAccess_id_access
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Admin permission denied on the collection.
      summary: Get the access control list for a collection.
      tags:
      - collection
    put:
      operationId: collection_updateCollectionAccess_put_id_access
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: access
        in: query
        required: true
        description: The access control list as JSON.
        schema:
          type: string
      - name: publicFlags
        in: query
        required: false
        description: List of public access flags to set on the collection.
        schema:
          type: string
      - name: public
        in: query
        required: false
        description: Whether the collection should be publicly visible.
        schema:
          type: boolean
      - name: recurse
        in: query
        required: false
        description: Whether the policies should be applied to all folders under this collection as well.
        schema:
          type: boolean
          default: false
      - name: progress
        in: query
        required: false
        description: If recurse is set to True, this controls whether progress notifications will be sent.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Admin permission denied on the collection.
      summary: Set the access control list for a collection.
      tags:
      - collection
  /collection/{id}/details:
    get:
      operationId: collection_getCollectionDetails_id_details
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
        '403':
          description: Read access was denied on the collection.
      summary: Get detailed information about a collection.
      tags:
      - collection
  /collection/{id}/download:
    get:
      operationId: collection_downloadCollection_id_download
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: mimeFilter
        in: query
        required: false
        description: JSON list of MIME types to include.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Read access was denied for the collection.
      summary: Download an entire collection as a zip archive.
      tags:
      - collection
  /collection/{id}/metadata:
    delete:
      operationId: collection_deleteMetadata_delete_id_metadata
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: 'ID was invalid.


            Invalid JSON passed in request body.


            Metadata key name was invalid.'
        '403':
          description: Write access was denied for the collection.
      summary: Delete metadata fields on a collection.
      tags:
      - collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/string'
        required: true
        description: A JSON list containing the metadata fields to delete
    put:
      description: Set metadata fields to null in order to delete them.
      operationId: collection_setMetadata_put_id_metadata
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: allowNull
        in: query
        required: false
        description: Whether "null" is allowed as a metadata value.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: 'ID was invalid.


            Invalid JSON passed in request body.


            Metadata key name was invalid.'
        '403':
          description: Write access was denied for the collection.
      summary: Set metadata fields on a collection.
      tags:
      - collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/string'
        required: true
        description: A JSON object containing the metadata keys to add
  /collection/{id}/quota:
    get:
      operationId: collection_getCollectionQuota_id_quota
      parameters:
      - name: id
        in: path
        required: true
        description: The collection ID
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
      summary: Get quota and assetstore policies for the collection.
      tags:
      - collection
    put:
      operationId: collection_setCollectionQuota_put_id_quota
      parameters:
      - name: id
        in: path
        required: true
        description: The collection ID
        schema:
          type: string
      - name: policy
        in: query
        required: true
        description: A JSON object containing the policies. This is a dictionary of keys and values. Any key that is not specified
          does not change.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
      summary: Set quota and assetstore policies for the collection.
      tags:
      - collection
  /dicomweb_assetstore/{id}/import:
    post:
      operationId: dicomweb_assetstore_importData_post_id_import
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the assetstore representing the DICOMweb server.
        schema:
          type: string
      - name: destinationId
        in: query
        required: true
        description: The ID of the parent folder, collection, or user in the Girder data hierarchy under which to import the
          files.
        schema:
          type: string
      - name: destinationType
        in: query
        required: false
        description: The type of the parent object to import into.
        schema:
          type: string
          enum:
          - folder
          - user
          - collection
          default: folder
      - name: limit
        in: query
        required: false
        description: The maximum number of studies to import.
        schema:
          type: string
      - name: filters
        in: query
        required: false
        description: Any search parameters to filter the studies query.
        schema:
          type: string
          default: '{}'
      - name: progress
        in: query
        required: false
        description: Whether to record progress on this operation.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
        '403':
          description: You are not an administrator.
      summary: Import references to DICOM objects from a DICOMweb server
      tags:
      - dicomweb_assetstore
  /file:
    post:
      description: Use POST /file/chunk to send the contents of the file.  The data for the first chunk of the file can be
        included with this query by sending it as the body of the request using an appropriate content-type and with the other
        parameters as part of the query string.  If the entire file is uploaded via this call, the resulting file is returned.
      operationId: file_initUpload_post_file
      parameters:
      - name: parentType
        in: query
        required: true
        description: Type being uploaded into.
        schema:
          type: string
          enum:
          - folder
          - item
      - name: parentId
        in: query
        required: true
        description: The ID of the parent.
        schema:
          type: string
      - name: name
        in: query
        required: true
        description: Name of the file being created.
        schema:
          type: string
      - name: size
        in: query
        required: false
        description: Size in bytes of the file.
        schema:
          type: integer
          format: int32
      - name: mimeType
        in: query
        required: false
        description: The MIME type of the file.
        schema:
          type: string
      - name: linkUrl
        in: query
        required: false
        description: If this is a link file, pass its URL instead of size and mimeType using this parameter.
        schema:
          type: string
      - name: reference
        in: query
        required: false
        description: If included, this information is passed to the data.process event when the upload is complete.
        schema:
          type: string
      - name: assetstoreId
        in: query
        required: false
        description: Direct the upload to a specific assetstore (admin-only).
        schema:
          type: string
      - name: uploadExtraParameters
        in: query
        required: false
        description: Arbitrary data to send along with the upload request.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
        '400':
          description: A parameter was invalid.
        '403':
          description: Write access was denied on the parent folder.
        '500':
          description: Failed to create upload.
      summary: Start a new upload or create an empty or link file.
      tags:
      - file
  /file/chunk:
    post:
      description: The data for the chunk should be sent as the body of the request using an appropriate content-type and
        with the other parameters as part of the query string.
      operationId: file_readChunk_post_chunk
      parameters:
      - name: offset
        in: query
        required: false
        description: Offset of the chunk in the file.
        schema:
          type: integer
          format: int32
          default: 0
      - name: uploadExtraParameters
        in: query
        required: false
        description: Arbitrary data to send along with the upload request.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: 'ID was invalid.


            Received too many bytes.


            Chunk is smaller than the minimum size.'
        '403':
          description: You are not the user who initiated the upload.
        '500':
          description: Failed to store upload.
      summary: Upload a chunk of a file.
      tags:
      - file
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                uploadId:
                  type: string
                  description: The ID of the document.
              required:
              - uploadId
  /file/completion:
    post:
      description: This is only required in certain non-standard upload behaviors. Clients should know which behavior models
        require the finalize step to be called in their behavior handlers.
      operationId: file_finalizeUpload_post_completion
      parameters: []
      responses:
        '200':
          description: Success
        '400':
          description: 'ID was invalid.


            The upload does not require finalization.


            Not enough bytes have been uploaded.'
        '403':
          description: You are not the user who initiated the upload.
      summary: Finalize an upload explicitly if necessary.
      tags:
      - file
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                uploadId:
                  type: string
                  description: The ID of the document.
              required:
              - uploadId
  /file/hashsum/{algo}/{hash}:
    get:
      operationId: file_getByHash_hashsum_algo_hash
      parameters:
      - name: algo
        in: path
        required: true
        description: The type of the given hashsum (case insensitive).
        schema:
          type: string
          enum:
          - sha512
      - name: hash
        in: path
        required: true
        description: The hexadecimal hashsum of the file to download (case insensitive).
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Return a list of files matching a hashsum.
      tags:
      - file
  /file/hashsum/{algo}/{hash}/download:
    get:
      operationId: file_downloadWithHash_hashsum_algo_hash_download
      parameters:
      - name: algo
        in: path
        required: true
        description: The type of the given hashsum (case insensitive).
        schema:
          type: string
          enum:
          - sha512
      - name: hash
        in: path
        required: true
        description: The hexadecimal hashsum of the file to download (case insensitive).
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: No file with the given hash exists.
      summary: Download a file by its hashsum.
      tags:
      - file
  /file/offset:
    get:
      operationId: file_requestOffset_offset
      parameters: []
      responses:
        '200':
          description: Success
        '400':
          description: The ID was invalid, or the offset did not match the server's record.
      summary: Request required offset before resuming an upload.
      tags:
      - file
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                uploadId:
                  type: string
                  description: The ID of the document.
              required:
              - uploadId
  /file/query:
    get:
      operationId: file_getFilesByQuery_query
      parameters:
      - name: query
        in: query
        required: true
        description: Find files that match this Mongo query.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: _id
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/File'
                type: array
        '400':
          description: A parameter was invalid.
      summary: List files that match a query.
      tags:
      - file
  /file/upload/{id}:
    delete:
      operationId: file_cancelUpload_delete_upload_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: You lack permission to cancel this upload.
      summary: Cancel a partially completed upload.
      tags:
      - file
  /file/{id}:
    delete:
      operationId: file_deleteFile_delete_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Write access was denied on the parent folder.
      summary: Delete a file by ID.
      tags:
      - file
    get:
      operationId: file_getFile_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
        '403':
          description: Read access was denied on the file.
      summary: Get a file's information.
      tags:
      - file
    put:
      operationId: file_updateFile_put_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: The name to set on the file.
        schema:
          type: string
      - name: mimeType
        in: query
        required: false
        description: The MIME type of the file.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Write access was denied on the parent folder.
      summary: Change file metadata such as name or MIME type.
      tags:
      - file
  /file/{id}/contents:
    put:
      description: After calling this, send the chunks just like you would with a normal file upload.
      operationId: file_updateFileContents_put_id_contents
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: size
        in: query
        required: true
        description: Size in bytes of the new file.
        schema:
          type: integer
          format: int32
      - name: reference
        in: query
        required: false
        description: If included, this information is passed to the data.process event when the upload is complete.
        schema:
          type: string
      - name: assetstoreId
        in: query
        required: false
        description: Direct the upload to a specific assetstore (admin-only).
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Change the contents of an existing file.
      tags:
      - file
  /file/{id}/copy:
    post:
      operationId: file_copy_post_id_copy
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Copy a file.
      tags:
      - file
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                itemId:
                  type: string
                  description: The ID of the item to copy the file to.
              required:
              - itemId
  /file/{id}/download:
    get:
      description: This endpoint also accepts the HTTP "Range" header for partial file downloads.
      operationId: file_download_id_download
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Start downloading at this offset in bytes within the file.
        schema:
          type: integer
          format: int32
          default: 0
      - name: endByte
        in: query
        required: false
        description: If you only wish to download part of the file, pass this as the index of the last byte to download. Unlike
          the HTTP Range header, the endByte parameter is non-inclusive, so you should set it to the index of the byte one
          past the final byte you wish to receive.
        schema:
          type: integer
          format: int32
      - name: contentDisposition
        in: query
        required: false
        description: Specify the Content-Disposition response header disposition-type value.
        schema:
          type: string
          enum:
          - inline
          - attachment
          default: attachment
      - name: extraParameters
        in: query
        required: false
        description: Arbitrary data to send along with the download request.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Read access was denied on the parent folder.
      summary: Download a file.
      tags:
      - file
  /file/{id}/download/{name}:
    get:
      description: The name parameter doesn't alter the download.  Some download clients save files based on the last part
        of a path, and specifying the name satisfies those clients.
      operationId: file_downloadWithName_id_download_name
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the file.
        schema:
          type: string
      - name: name
        in: path
        required: true
        description: The name of the file.  This is ignored.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Start downloading at this offset in bytes within the file.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: ID was invalid.
        '403':
          description: Read access was denied on the parent folder.
      summary: Download a file.
      tags:
      - file
  /file/{id}/hashsum:
    post:
      operationId: file_computeHashes_post_id_hashsum
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the file.
        schema:
          type: string
      - name: progress
        in: query
        required: false
        description: Whether to track progress of the operation
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
        '403':
          description: Write access was denied on the file.
      summary: Manually compute the checksum values for a given file.
      tags:
      - file
  /file/{id}/hashsum_file/{algo}:
    get:
      description: This is meant to be used in conjunction with CMake's ExternalData module.
      operationId: file_downloadKeyFile_id_hashsum_file_algo
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the file.
        schema:
          type: string
      - name: algo
        in: path
        required: true
        description: The hashsum algorithm.
        schema:
          type: string
          enum:
          - sha512
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
        '403':
          description: Read access was denied on the file.
      summary: Download the hashsum key file for a given file.
      tags:
      - file
  /file/{id}/import/adjust_path:
    post:
      operationId: file_adjustFileImportPath_post_id_import_adjust_path
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: path
        in: query
        required: true
        description: The new import path of the file.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          description: ID was invalid.
        '403':
          description: Write access was denied on the parent folder.
      summary: Adjust the import path of a file.
      tags:
      - file
  /file/{id}/move:
    put:
      operationId: file_moveFileToAssetstore_put_id_move
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: progress
        in: query
        required: false
        description: Controls whether progress notifications will be sent.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Move a file to a different assetstore.
      tags:
      - file
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                assetstoreId:
                  type: string
                  description: The destination assetstore.
              required:
              - assetstoreId
  /files:
    get:
      operationId: files_filesResponseRoot_files
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: List subitems or download a resource based on its path
      tags:
      - files
      parameters: []
  /files/{path}:
    get:
      operationId: files_filesResponse_path
      parameters:
      - name: path
        in: path
        required: true
        description: The path of the resource.  The path must be an absolute Unix path starting with either "/user/[user name]",
          for a user's resources or "/collection/[collection name]", for resources under a collection.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: 'Path is invalid.


            Path refers to a resource that does not exist.'
        '403':
          description: Read access was denied for the resource.
      summary: List subitems or download a resource based on its path
      tags:
      - files
  /folder:
    get:
      description: 'You must pass either a "folderId" or "text" field to specify how you are searching for folders.  If you
        omit one of these parameters the request will fail and respond : "Invalid search mode."'
      operationId: folder_find_folder
      parameters:
      - name: parentType
        in: query
        required: false
        description: Type of the folder's parent
        schema:
          type: string
          enum:
          - folder
          - user
          - collection
      - name: parentId
        in: query
        required: false
        description: The ID of the folder's parent.
        schema:
          type: string
      - name: text
        in: query
        required: false
        description: Pass to perform a text search.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: Pass to lookup a folder by exact name match. Must pass parentType and parentId as well when using this.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: lowerName
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Folder'
                type: array
        '400':
          description: A parameter was invalid.
        '403':
          description: Read access was denied on the parent resource.
      summary: Search for folders by certain properties.
      tags:
      - folder
    post:
      operationId: folder_createFolder_post_folder
      parameters:
      - name: parentType
        in: query
        required: false
        description: Type of the folder's parent
        schema:
          type: string
          enum:
          - folder
          - user
          - collection
          default: folder
      - name: parentId
        in: query
        required: true
        description: The ID of the folder's parent.
        schema:
          type: string
      - name: name
        in: query
        required: true
        description: Name of the folder.
        schema:
          type: string
      - name: description
        in: query
        required: false
        description: Description for the folder.
        schema:
          type: string
          default: ''
      - name: reuseExisting
        in: query
        required: false
        description: Return existing folder if it exists rather than creating a new one.
        schema:
          type: boolean
          default: false
      - name: public
        in: query
        required: false
        description: Whether the folder should be publicly visible. By default, inherits the value from parent folder, or
          in the case of user or collection parentType, defaults to False.
        schema:
          type: boolean
      - name: isVirtual
        in: query
        required: false
        description: Whether this is a virtual folder.
        schema:
          type: boolean
      - name: virtualItemsQuery
        in: query
        required: false
        description: Query to use to do virtual item lookup, as JSON.
        schema:
          type: string
      - name: virtualItemsSort
        in: query
        required: false
        description: Sort to use during virtual item lookup, as JSON.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '400':
          description: A parameter was invalid.
        '403':
          description: Write access was denied on the parent
      summary: Create a new folder.
      tags:
      - folder
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: string
                  description: A JSON object containing the metadata keys to add
  /folder/query:
    get:
      operationId: folder_getFoldersByQuery_query
      parameters:
      - name: query
        in: query
        required: true
        description: Find folders that match this Mongo query.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Result set size limit.
        schema:
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        required: false
        description: Offset into result set.
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort
        in: query
        required: false
        description: Field to sort the result set by.
        schema:
          type: string
          default: _id
      - name: sortdir
        in: query
        required: false
        description: 'Sort order: 1 for ascending, -1 for descending.'
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - -1
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Folder'
                type: array
        '400':
          description: A parameter was invalid.
      summary: List folders that match a query.
      tags:
      - folder
  /folder/{id}:
    delete:
      operationId: folder_deleteFolder_delete_id
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the document.
        schema:
          type: string
      - name: progress
        in: query
        required: false
        description: Whether to record progress on this task.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
        '400':
[...]
