openapi: 3.0.3
info:
  title: Girder REST API (Emory Digital Slide Archive) annotation slicer_cli_web API
  version: 3.2.14
  description: OpenAPI 3.0 conversion of the Girder REST API powering the Emory Digital Slide Archive (computablebrain). Converted faithfully from the live Swagger 2.0 document at https://computablebrain.emory.edu/api/v1/describe.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
servers:
- url: https://computablebrain.emory.edu/api/v1
tags:
- description: slicer_cli_web resource
  name: slicer_cli_web
paths:
  /slicer_cli_web/cli:
    get:
      operationId: slicer_cli_web_getItems_cli
      parameters:
      - name: folder
        in: query
        required: false
        description: The base folder to look for tasks
        schema:
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: You are not logged in.
      summary: List CLIs
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ecf/rerun:
    post:
      description: 'Rerun a previous job: Description: <br/><br/>Unmixes the stains of a composite image given the stain colors<br/><br/>Version: 0.2.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Deepak Roy Chittajallu (Kitware), Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_rerunHandler_post_cli_5f3d811c50cd9fe632566ecf_rerun
      parameters:
      - name: jobId
        in: query
        required: true
        description: The previous job ID
        schema:
          type: string
      - name: inputImageFile
        in: query
        required: false
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - inputImageFile: Input image to be deconvolved'
        schema:
          type: string
      - name: inputImageFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - inputImageFile: Input image to be deconvolved'
        schema:
          type: string
      - name: outputStainImageFile_1_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output image - outputStainImageFile_1: Output Image of Stain 1 (*.tiff)'
        schema:
          type: string
      - name: outputStainImageFile_1
        in: query
        required: false
        description: 'Name of output image - outputStainImageFile_1: Output Image of Stain 1 (*.tiff)'
        schema:
          type: string
      - name: outputStainImageFile_2_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output image - outputStainImageFile_2: Output Image of Stain 2 (*.tiff)'
        schema:
          type: string
      - name: outputStainImageFile_2
        in: query
        required: false
        description: 'Name of output image - outputStainImageFile_2: Output Image of Stain 2 (*.tiff)'
        schema:
          type: string
      - name: outputStainImageFile_3_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output image - outputStainImageFile_3: Output Image of Stain 3 (*.tiff)'
        schema:
          type: string
      - name: outputStainImageFile_3
        in: query
        required: false
        description: 'Name of output image - outputStainImageFile_3: Output Image of Stain 3 (*.tiff)'
        schema:
          type: string
      - name: outputAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputAnnotationFile: Annotation to relate images on source (*.anot)'
        schema:
          type: string
      - name: outputAnnotationFile
        in: query
        required: false
        description: 'Name of output file - outputAnnotationFile: Annotation to relate images on source (*.anot)'
        schema:
          type: string
      - name: maxRegionSize
        in: query
        required: false
        description: Maximum width and height allowed when processing an image, in order to prevent accidentally running on too large a region.  Use -1 for no limit
        schema:
          type: integer
          format: int32
      - name: region
        in: query
        required: false
        description: left,top,width,height of the region of interest.  All -1 means the whole image is used. as JSON (region)
        schema:
          type: string
      - name: stain_1
        in: query
        required: false
        description: Name of stain-1
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
      - name: stain_1_vector
        in: query
        required: false
        description: Custom value for stain-1 as JSON (double-vector)
        schema:
          type: string
      - name: stain_2
        in: query
        required: false
        description: Name of stain-2
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
          - 'null'
      - name: stain_2_vector
        in: query
        required: false
        description: Custom value for stain-2 as JSON (double-vector)
        schema:
          type: string
      - name: stain_3
        in: query
        required: false
        description: Name of stain-3
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - 'null'
          - custom
      - name: stain_3_vector
        in: query
        required: false
        description: Custom value for stain-3 as JSON (double-vector)
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Rerun Color Deconvolution
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ecf/run:
    post:
      description: 'Description: <br/><br/>Unmixes the stains of a composite image given the stain colors<br/><br/>Version: 0.2.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Deepak Roy Chittajallu (Kitware), Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_cliHandler_post_cli_5f3d811c50cd9fe632566ecf_run
      parameters:
      - name: inputImageFile
        in: query
        required: true
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - inputImageFile: Input image to be deconvolved'
        schema:
          type: string
      - name: inputImageFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - inputImageFile: Input image to be deconvolved'
        schema:
          type: string
      - name: outputStainImageFile_1_folder
        in: query
        required: true
        description: 'Girder ID of parent folder for output image - outputStainImageFile_1: Output Image of Stain 1 (*.tiff)'
        schema:
          type: string
      - name: outputStainImageFile_1
        in: query
        required: true
        description: 'Name of output image - outputStainImageFile_1: Output Image of Stain 1 (*.tiff)'
        schema:
          type: string
          default: outputStainImageFile_1.tiff
      - name: outputStainImageFile_2_folder
        in: query
        required: true
        description: 'Girder ID of parent folder for output image - outputStainImageFile_2: Output Image of Stain 2 (*.tiff)'
        schema:
          type: string
      - name: outputStainImageFile_2
        in: query
        required: true
        description: 'Name of output image - outputStainImageFile_2: Output Image of Stain 2 (*.tiff)'
        schema:
          type: string
          default: outputStainImageFile_2.tiff
      - name: outputStainImageFile_3_folder
        in: query
        required: true
        description: 'Girder ID of parent folder for output image - outputStainImageFile_3: Output Image of Stain 3 (*.tiff)'
        schema:
          type: string
      - name: outputStainImageFile_3
        in: query
        required: true
        description: 'Name of output image - outputStainImageFile_3: Output Image of Stain 3 (*.tiff)'
        schema:
          type: string
          default: outputStainImageFile_3.tiff
      - name: outputAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputAnnotationFile: Annotation to relate images on source (*.anot)'
        schema:
          type: string
      - name: outputAnnotationFile
        in: query
        required: false
        description: 'Name of output file - outputAnnotationFile: Annotation to relate images on source (*.anot)'
        schema:
          type: string
          default: outputAnnotationFile.anot
      - name: maxRegionSize
        in: query
        required: false
        description: Maximum width and height allowed when processing an image, in order to prevent accidentally running on too large a region.  Use -1 for no limit
        schema:
          type: integer
          format: int32
          default: 5000
      - name: region
        in: query
        required: false
        description: left,top,width,height of the region of interest.  All -1 means the whole image is used. as JSON (region)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0, -1.0]'
      - name: stain_1
        in: query
        required: false
        description: Name of stain-1
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
          default: hematoxylin
      - name: stain_1_vector
        in: query
        required: false
        description: Custom value for stain-1 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      - name: stain_2
        in: query
        required: false
        description: Name of stain-2
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
          - 'null'
          default: eosin
      - name: stain_2_vector
        in: query
        required: false
        description: Custom value for stain-2 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      - name: stain_3
        in: query
        required: false
        description: Name of stain-3
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - 'null'
          - custom
          default: 'null'
      - name: stain_3_vector
        in: query
        required: false
        description: Custom value for stain-3 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Color Deconvolution
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ed1/rerun:
    post:
      description: 'Rerun a previous job: Description: <br/><br/>Use sparse non-negative matrix factorization to adaptively deconvolve a given RGB image into intensity images representing distinct stains.<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Deepak Roy Chittajallu (Kitware), Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_rerunHandler_post_cli_5f3d811c50cd9fe632566ed1_rerun
      parameters:
      - name: jobId
        in: query
        required: true
        description: The previous job ID
        schema:
          type: string
      - name: sample_slide_path
        in: query
        required: false
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - sample_slide_path: Input image to be deconvolved'
        schema:
          type: string
      - name: sample_slide_path_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - sample_slide_path: Input image to be deconvolved'
        schema:
          type: string
      - name: snmf_I_0
        in: query
        required: false
        description: Background intensity in each channel as JSON (double-vector)
        schema:
          type: string
      - name: outputAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputAnnotationFile: Output stain annotation file (*.anot)'
        schema:
          type: string
      - name: outputAnnotationFile
        in: query
        required: false
        description: 'Name of output file - outputAnnotationFile: Output stain annotation file (*.anot)'
        schema:
          type: string
      - name: snmf_beta
        in: query
        required: false
        description: A parameter to control sparsity of stain concentrations
        schema:
          type: number
          format: double
      - name: sample_magnification
        in: query
        required: false
        description: Desired magnification for sampling.  The default value indicates native scan magnification.
        schema:
          type: number
          format: float
      - name: sample_min_coverage
        in: query
        required: false
        description: "Minimum background coverage required for a tile to\n      be sampled from."
        schema:
          type: number
          format: float
      - name: sample_sample_approximate_total
        in: query
        required: false
        description: Use instead of sample_fraction to specify roughly how many pixels to sample.  The fewer tiles are excluded, the more accurate this will be.
        schema:
          type: integer
          format: int32
      - name: sample_sample_fraction
        in: query
        required: false
        description: Fraction of pixels to sample.  Specify either this or --sampleApproximateTotal
        schema:
          type: number
          format: float
      - name: dask_scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
      - name: sample_tissue_seg_mag
        in: query
        required: false
        description: Low resolution magnification at which foreground and background will be segmented.
        schema:
          type: number
          format: float
      - name: stains_stain_1
        in: query
        required: false
        description: Name for initial estimate of color of stain-1
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
      - name: stains_stain_1_vector
        in: query
        required: false
        description: Custom value for initial estimate of stain-1 as JSON (double-vector)
        schema:
          type: string
      - name: stains_stain_2
        in: query
        required: false
        description: Name for initial estimate of color of stain-2
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
      - name: stains_stain_2_vector
        in: query
        required: false
        description: Custom value for initial estimate of stain-2 as JSON (double-vector)
        schema:
          type: string
      - name: sample_tile_grouping
        in: query
        required: false
        description: Number of tiles to process as part of a single task
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Rerun Adaptive Color Deconvolution
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ed1/run:
    post:
      description: 'Description: <br/><br/>Use sparse non-negative matrix factorization to adaptively deconvolve a given RGB image into intensity images representing distinct stains.<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Deepak Roy Chittajallu (Kitware), Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_cliHandler_post_cli_5f3d811c50cd9fe632566ed1_run
      parameters:
      - name: sample_slide_path
        in: query
        required: true
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - sample_slide_path: Input image to be deconvolved'
        schema:
          type: string
      - name: sample_slide_path_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - sample_slide_path: Input image to be deconvolved'
        schema:
          type: string
      - name: snmf_I_0
        in: query
        required: true
        description: Background intensity in each channel as JSON (double-vector)
        schema:
          type: string
          default: '[255.0, 255.0, 255.0]'
      - name: outputAnnotationFile_folder
        in: query
        required: true
        description: 'Girder ID of parent folder for output file - outputAnnotationFile: Output stain annotation file (*.anot)'
        schema:
          type: string
      - name: outputAnnotationFile
        in: query
        required: true
        description: 'Name of output file - outputAnnotationFile: Output stain annotation file (*.anot)'
        schema:
          type: string
          default: outputAnnotationFile.anot
      - name: snmf_beta
        in: query
        required: false
        description: A parameter to control sparsity of stain concentrations
        schema:
          type: number
          format: double
          default: 0.5
      - name: sample_magnification
        in: query
        required: false
        description: Desired magnification for sampling.  The default value indicates native scan magnification.
        schema:
          type: number
          format: float
          default: -1.0
      - name: sample_min_coverage
        in: query
        required: false
        description: "Minimum background coverage required for a tile to\n      be sampled from."
        schema:
          type: number
          format: float
          default: 0.1
      - name: sample_sample_approximate_total
        in: query
        required: false
        description: Use instead of sample_fraction to specify roughly how many pixels to sample.  The fewer tiles are excluded, the more accurate this will be.
        schema:
          type: integer
          format: int32
          default: -1
      - name: sample_sample_fraction
        in: query
        required: false
        description: Fraction of pixels to sample.  Specify either this or --sampleApproximateTotal
        schema:
          type: number
          format: float
          default: 0.1
      - name: dask_scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
          default: ''
      - name: sample_tissue_seg_mag
        in: query
        required: false
        description: Low resolution magnification at which foreground and background will be segmented.
        schema:
          type: number
          format: float
          default: 1.25
      - name: stains_stain_1
        in: query
        required: false
        description: Name for initial estimate of color of stain-1
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
          default: hematoxylin
      - name: stains_stain_1_vector
        in: query
        required: false
        description: Custom value for initial estimate of stain-1 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      - name: stains_stain_2
        in: query
        required: false
        description: Name for initial estimate of color of stain-2
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
          default: eosin
      - name: stains_stain_2_vector
        in: query
        required: false
        description: Custom value for initial estimate of stain-2 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      - name: sample_tile_grouping
        in: query
        required: false
        description: Number of tiles to process as part of a single task
        schema:
          type: integer
          format: int32
          default: 256
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Adaptive Color Deconvolution
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ed3/rerun:
    post:
      description: 'Rerun a previous job: Description: <br/><br/>Detects nuclei in a whole-slide image<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Deepak Roy Chittajallu (Kitware), Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_rerunHandler_post_cli_5f3d811c50cd9fe632566ed3_rerun
      parameters:
      - name: jobId
        in: query
        required: true
        description: The previous job ID
        schema:
          type: string
      - name: inputImageFile
        in: query
        required: false
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - inputImageFile: Input image'
        schema:
          type: string
      - name: inputImageFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - inputImageFile: Input image'
        schema:
          type: string
      - name: outputNucleiAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot)'
        schema:
          type: string
      - name: outputNucleiAnnotationFile
        in: query
        required: false
        description: 'Name of output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot)'
        schema:
          type: string
      - name: analysis_mag
        in: query
        required: false
        description: The magnification at which the analysis should be performed.
        schema:
          type: number
          format: double
      - name: analysis_roi
        in: query
        required: false
        description: Region of interest within which the analysis should be done. Must be a four element vector in the format "left, top, width, height" in the space of the base layer. Default value of "-1, -1, -1, -1" indicates that the whole image should be processed. as JSON (region)
        schema:
          type: string
      - name: analysis_tile_size
        in: query
        required: false
        description: Tile size for blockwise analysis
        schema:
          type: number
          format: double
      - name: foreground_threshold
        in: query
        required: false
        description: Intensity value to use as threshold to segment foreground in nuclear stain image
        schema:
          type: number
          format: double
      - name: frame
        in: query
        required: false
        description: Frame index in a multi-frame image
        schema:
          type: string
      - name: ignore_border_nuclei
        in: query
        required: false
        description: Ignore/drop nuclei touching the image/tile border
        schema:
          type: boolean
      - name: ImageInversionForm
        in: query
        required: false
        description: Image inversion may be needed for greyscale images with bright nuclei and dark background. default option will automatically invert the image if it is single channel. Choose if color inversion is needed.
        schema:
          type: string
          enum:
          - 'Yes'
          - 'No'
          - default
      - name: local_max_search_radius
        in: query
        required: false
        description: Local max search radius used for detection seed points in nuclei
        schema:
          type: number
          format: double
      - name: max_radius
        in: query
        required: false
        description: Maximum nuclear radius (used to set max sigma of the multiscale LoG filter)
        schema:
          type: number
          format: double
      - name: min_fgnd_frac
        in: query
        required: false
        description: The minimum amount of foreground that must be present in a tile for it to be analyzed
        schema:
          type: number
          format: double
      - name: min_nucleus_area
        in: query
        required: false
        description: Minimum area that each nucleus should have
        schema:
          type: integer
          format: int32
      - name: min_radius
        in: query
        required: false
        description: Minimum nuclear radius (used to set min sigma of the multiscale LoG filter)
        schema:
          type: number
          format: double
      - name: nuclei_annotation_format
        in: query
        required: false
        description: Format of the output nuclei annotations
        schema:
          type: string
          enum:
          - bbox
          - boundary
      - name: num_threads_per_worker
        in: query
        required: false
        description: Number of threads to use per worker while setting up a local cluster internally. Must be a positive integer >= 1.
        schema:
          type: integer
          format: int32
      - name: num_workers
        in: query
        required: false
        description: Number of dask workers to start while setting up a local cluster internally. If a negative value is specified then the number of workers is set to number of cpu cores on the machine minus the number of workers specified.
        schema:
          type: integer
          format: int32
      - name: reference_mu_lab
        in: query
        required: false
        description: Mean of reference image in LAB color space for Reinhard color normalization as JSON (double-vector)
        schema:
          type: string
      - name: reference_std_lab
        in: query
        required: false
        description: Standard deviation of reference image in LAB color space for Reinhard color normalization as JSON (double-vector)
        schema:
          type: string
      - name: remove_overlapping_nuclei_segmentation
        in: query
        required: false
        description: Remove overlapping nuclei segmentation from the given region. It is recommended to use this approach when defining the tile overlap parameter.
        schema:
          type: boolean
      - name: scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
      - name: stain_1
        in: query
        required: false
        description: Name of stain-1
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
      - name: stain_1_vector
        in: query
        required: false
        description: Custom value for stain-1 as JSON (double-vector)
        schema:
          type: string
      - name: stain_2
        in: query
        required: false
        description: Name of stain-2
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
      - name: stain_2_vector
        in: query
        required: false
        description: Custom value for stain-2 as JSON (double-vector)
        schema:
          type: string
      - name: stain_3
        in: query
        required: false
        description: Name of stain-3
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - 'null'
          - custom
      - name: stain_3_vector
        in: query
        required: false
        description: Custom value for stain-3 as JSON (double-vector)
        schema:
          type: string
      - name: style
        in: query
        required: false
        description: Image style options for compositing a multi-frame image
        schema:
          type: string
      - name: tile_overlap_value
        in: query
        required: false
        description: Tile overlap size in pixels, Default value of -1 indicate that the tile overlap will be set to (max_radius + 1) * 4
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Rerun Detects Nuclei
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ed3/run:
    post:
      description: 'Description: <br/><br/>Detects nuclei in a whole-slide image<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Deepak Roy Chittajallu (Kitware), Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_cliHandler_post_cli_5f3d811c50cd9fe632566ed3_run
      parameters:
      - name: inputImageFile
        in: query
        required: true
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - inputImageFile: Input image'
        schema:
          type: string
      - name: inputImageFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - inputImageFile: Input image'
        schema:
          type: string
      - name: outputNucleiAnnotationFile_folder
        in: query
        required: true
        description: 'Girder ID of parent folder for output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot)'
        schema:
          type: string
      - name: outputNucleiAnnotationFile
        in: query
        required: true
        description: 'Name of output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot)'
        schema:
          type: string
          default: outputNucleiAnnotationFile.anot
      - name: analysis_mag
        in: query
        required: false
        description: The magnification at which the analysis should be performed.
        schema:
          type: number
          format: double
          default: 20.0
      - name: analysis_roi
        in: query
        required: false
        description: Region of interest within which the analysis should be done. Must be a four element vector in the format "left, top, width, height" in the space of the base layer. Default value of "-1, -1, -1, -1" indicates that the whole image should be processed. as JSON (region)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0, -1.0]'
      - name: analysis_tile_size
        in: query
        required: false
        description: Tile size for blockwise analysis
        schema:
          type: number
          format: double
          default: 1024.0
      - name: foreground_threshold
        in: query
        required: false
        description: Intensity value to use as threshold to segment foreground in nuclear stain image
        schema:
          type: number
          format: double
          default: 60.0
      - name: frame
        in: query
        required: false
        description: Frame index in a multi-frame image
        schema:
          type: string
          default: '{#control:#current_image_frame#}'
      - name: ignore_border_nuclei
        in: query
        required: false
        description: Ignore/drop nuclei touching the image/tile border
        schema:
          type: boolean
          default: false
      - name: ImageInversionForm
        in: query
        required: false
        description: Image inversion may be needed for greyscale images with bright nuclei and dark background. default option will automatically invert the image if it is single channel. Choose if color inversion is needed.
        schema:
          type: string
          enum:
          - 'Yes'
          - 'No'
          - default
          default: default
      - name: local_max_search_radius
        in: query
        required: false
        description: Local max search radius used for detection seed points in nuclei
        schema:
          type: number
          format: double
          default: 10.0
      - name: max_radius
        in: query
        required: false
        description: Maximum nuclear radius (used to set max sigma of the multiscale LoG filter)
        schema:
          type: number
          format: double
          default: 20.0
      - name: min_fgnd_frac
        in: query
        required: false
        description: The minimum amount of foreground that must be present in a tile for it to be analyzed
        schema:
          type: number
          format: double
          default: 0.25
      - name: min_nucleus_area
        in: query
        required: false
        description: Minimum area that each nucleus should have
        schema:
          type: integer
          format: int32
          default: 80
      - name: min_radius
        in: query
        required: false
        description: Minimum nuclear radius (used to set min sigma of the multiscale LoG filter)
        schema:
          type: number
          format: double
          default: 6.0
      - name: nuclei_annotation_format
        in: query
        required: false
        description: Format of the output nuclei annotations
        schema:
          type: string
          enum:
          - bbox
          - boundary
          default: boundary
      - name: num_threads_per_worker
        in: query
        required: false
        description: Number of threads to use per worker while setting up a local cluster internally. Must be a positive integer >= 1.
        schema:
          type: integer
          format: int32
          default: 1
      - name: num_workers
        in: query
        required: false
        description: Number of dask workers to start while setting up a local cluster internally. If a negative value is specified then the number of workers is set to number of cpu cores on the machine minus the number of workers specified.
        schema:
          type: integer
          format: int32
          default: -1
      - name: reference_mu_lab
        in: query
        required: false
        description: Mean of reference image in LAB color space for Reinhard color normalization as JSON (double-vector)
        schema:
          type: string
          default: '[8.63234435, -0.11501964, 0.03868433]'
      - name: reference_std_lab
        in: query
        required: false
        description: Standard deviation of reference image in LAB color space for Reinhard color normalization as JSON (double-vector)
        schema:
          type: string
          default: '[0.57506023, 0.10403329, 0.01364062]'
      - name: remove_overlapping_nuclei_segmentation
        in: query
        required: false
        description: Remove overlapping nuclei segmentation from the given region. It is recommended to use this approach when defining the tile overlap parameter.
        schema:
          type: boolean
          default: true
      - name: scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
          default: ''
      - name: stain_1
        in: query
        required: false
        description: Name of stain-1
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
          default: hematoxylin
      - name: stain_1_vector
        in: query
        required: false
        description: Custom value for stain-1 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      - name: stain_2
        in: query
        required: false
        description: Name of stain-2
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
          default: eosin
      - name: stain_2_vector
        in: query
        required: false
        description: Custom value for stain-2 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      - name: stain_3
        in: query
        required: false
        description: Name of stain-3
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - 'null'
          - custom
          default: 'null'
      - name: stain_3_vector
        in: query
        required: false
        description: Custom value for stain-3 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      - name: style
        in: query
        required: false
        description: Image style options for compositing a multi-frame image
        schema:
          type: string
          default: '{#control:#current_image_style#}'
      - name: tile_overlap_value
        in: query
        required: false
        description: Tile overlap size in pixels, Default value of -1 indicate that the tile overlap will be set to (max_radius + 1) * 4
        schema:
          type: integer
          format: int32
          default: -1
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Detects Nuclei
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ed5/rerun:
    post:
      description: 'Rerun a previous job: Description: <br/><br/>Computes features for nuclei classification<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Deepak Roy Chittajallu (Kitware), Sanghoon Lee (Emory University)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_rerunHandler_post_cli_5f3d811c50cd9fe632566ed5_rerun
      parameters:
      - name: jobId
        in: query
        required: true
        description: The previous job ID
        schema:
          type: string
      - name: inputImageFile
        in: query
        required: false
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - inputImageFile: Input image'
        schema:
          type: string
      - name: inputImageFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - inputImageFile: Input image'
        schema:
          type: string
      - name: outputNucleiFeatureFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputNucleiFeatureFile: Output nuclei feature file (*.csv or *.h5)'
        schema:
          type: string
      - name: outputNucleiFeatureFile
        in: query
        required: false
        description: 'Name of output file - outputNucleiFeatureFile: Output nuclei feature file (*.csv or *.h5)'
        schema:
          type: string
      - name: outputNucleiAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot)'
        schema:
          type: string
      - name: outputNucleiAnnotationFile
        in: query
        required: false
        description: 'Name of output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot)'
        schema:
          type: string
      - name: analysis_mag
        in: query
        required: false
        description: The magnification at which the analysis should be performed.
        schema:
          type: number
          format: double
      - name: analysis_roi
        in: query
        required: false
        description: Region of interest within which the analysis should be done. Must be a four element vector in the format "left, top, width, height" in the space of the base layer. Default value of "-1, -1, -1, -1" indicates that the whole image should be processed. as JSON (region)
        schema:
          type: string
      - name: analysis_tile_size
        in: query
        required: false
        description: Tile size for blockwise analysis
        schema:
          type: number
          format: double
      - name: cyto_width
        in: query
        required: false
        description: Width of ring-like neighborhood region around each nucleus to be considered as cytoplasm
        schema:
          type: integer
          format: int32
      - name: cytoplasm_features
        in: query
        required: false
        description: Compute Intensity and Gradient features from the cytoplasm channel
        schema:
          type: boolean
      - name: foreground_threshold
        in: query
        required: false
        description: Intensity value to use as threshold to segment foreground in nuclear stain image
        schema:
          type: number
          format: double
      - name: fsd_features
        in: query
        required: false
        description: Compute Fourier Shape Descriptor Features
        schema:
          type: boolean
      - name: fsd_bnd_pts
        in: query
        required: false
        description: Number of boundary points for computing FSD features
        schema:
          type: integer
          format: int32
      - name: fsd_freq_bins
        in: query
        required: false
        description: Number of frequency bins for calculating FSD features
        schema:
          type: integer
          format: int32
      - name: gradient_features
        in: query
        required: false
        description: Compute Gradient/Edge Features
        schema:
          type: boolean
      - name: haralick_features
        in: query
        required: false
        description: Compute Haralick Texture Features
        schema:
          type: boolean
      - name: ignore_border_nuclei
        in: query
        required: false
        description: Ignore/drop nuclei touching the image/tile border
        schema:
          type: boolean
      - name: in_annotations
        in: query
        required: false
        description: A comma-separated list of column titles to include in the user attributes of output annotation elements.  Blank for none
        schema:
          type: string
      - name: intensity_features
        in: query
        required: false
        description: Compute Intensity Features
        schema:
          type: boolean
      - name: local_max_search_radius
        in: query
        required: false
        description: Local max search radius used for detection seed points in nuclei
        schema:
          type: number
          format: double
      - name: max_radius
        in: query
        required: false
        description: Maximum nuclear radius (used to set max sigma of the multiscale LoG filter)
        schema:
          type: number
          format: double
      - name: min_fgnd_frac
        in: query
        required: false
        description: The minimum amount of foreground that must be present in a tile for it to be analyzed
        schema:
          type: number
          format: double
      - name: min_nucleus_area
        in: query
        required: false
        description: Minimum area that each nucleus should have
        schema:
          type: number
          format: double
      - name: min_radius
        in: query
        required: false
        description: Minimum nuclear radius (used to set min sigma of the multiscale LoG filter)
        schema:
          type: number
          format: double
      - name: morphometry_features
        in: query
        required: false
        description: Compute Morphometry (Size and Shape) Features
        schema:
          type: boolean
      - name: nuclei_annotation_format
        in: query
        required: false
        description: Format of the output nuclei annotations
        schema:
          type: string
          enum:
          - bbox
          - boundary
      - name: num_glcm_levels
        in: query
        required: false
        description: Number of GLCM intensity levels (used to compute haralick features)
        schema:
          type: integer
          format: int32
      - name: num_threads_per_worker
        in: query
        required: false
        description: Number of threads to use per worker while setting up a local cluster internally. Must be a positive integer >= 1.
        schema:
          type: integer
          format: int32
      - name: num_workers
        in: query
        required: false
        description: Number of dask workers to start while setting up a local cluster internally. If a negative value is specified then the number of workers is set to number of cpu cores on the machine minus the number of workers specified.
        schema:
          type: integer
          format: int32
      - name: reference_mu_lab
        in: query
        required: false
        description: Mean of reference image in LAB color space for Reinhard color normalization as JSON (double-vector)
        schema:
          type: string
      - name: reference_std_lab
        in: query
        required: false
        description: Standard deviation of reference image in LAB color space for Reinhard color normalization as JSON (double-vector)
        schema:
          type: string
      - name: remove_overlapping_nuclei_segmentation
        in: query
        required: false
        description: Remove overlapping nuclei segmentation from the given region. It is recommended to use this approach when defining the tile overlap parameter.
        schema:
          type: boolean
      - name: scheduler
        in: query
        required: false
        description: Address of the dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a cluster on the local machine
        schema:
          type: string
      - name: stain_1
        in: query
        required: false
        description: Name of stain-1
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
      - name: stain_1_vector
        in: query
        required: false
        description: Custom value for stain-1 as JSON (double-vector)
        schema:
          type: string
      - name: stain_2
        in: query
        required: false
        description: Name of stain-2
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
      - name: stain_2_vector
        in: query
        required: false
        description: Custom value for stain-2 as JSON (double-vector)
        schema:
          type: string
      - name: stain_3
        in: query
        required: false
        description: Name of stain-3
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - 'null'
          - custom
      - name: stain_3_vector
        in: query
        required: false
        description: Custom value for stain-3 as JSON (double-vector)
        schema:
          type: string
      - name: tile_overlap_value
        in: query
        required: false
        description: Tile overlap size in pixels, Default value of -1 indicate that the tile overlap will be set to (max_radius + 1) * 4
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Rerun Computes Nuclei Features
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ed5/run:
    post:
      description: 'Description: <br/><br/>Computes features for nuclei classification<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Deepak Roy Chittajallu (Kitware), Sanghoon Lee (Emory University)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_cliHandler_post_cli_5f3d811c50cd9fe632566ed5_run
      parameters:
      - name: inputImageFile
        in: query
        required: true
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - inputImageFile: Input image'
        schema:
          type: string
      - name: inputImageFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - inputImageFile: Input image'
        schema:
          type: string
      - name: outputNucleiFeatureFile_folder
        in: query
        required: true
        description: 'Girder ID of parent folder for output file - outputNucleiFeatureFile: Output nuclei feature file (*.csv or *.h5)'
        schema:
          type: string
      - name: outputNucleiFeatureFile
        in: query
        required: true
        description: 'Name of output file - outputNucleiFeatureFile: Output nuclei feature file (*.csv or *.h5)'
        schema:
          type: string
          default: outputNucleiFeatureFile.csv
      - name: outputNucleiAnnotationFile_folder
        in: query
        required: true
        description: 'Girder ID of parent folder for output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot)'
        schema:
          type: string
      - name: outputNucleiAnnotationFile
        in: query
        required: true
        description: 'Name of output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot)'
        schema:
          type: string
          default: outputNucleiAnnotationFile.anot
      - name: analysis_mag
        in: query
        required: false
        description: The magnification at which the analysis should be performed.
        schema:
          type: number
          format: double
          default: 20.0
      - name: analysis_roi
        in: query
        required: false
        description: Region of interest within which the analysis should be done. Must be a four element vector in the format "left, top, width, height" in the space of the base layer. Default value of "-1, -1, -1, -1" indicates that the whole image should be processed. as JSON (region)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0, -1.0]'
      - name: analysis_tile_size
        in: query
        required: false
        description: Tile size for blockwise analysis
        schema:
          type: number
          format: double
          default: 1024.0
      - name: cyto_width
        in: query
        required: false
        description: Width of ring-like neighborhood region around each nucleus to be considered as cytoplasm
        schema:
          type: integer
          format: int32
          default: 8
      - name: cytoplasm_features
        in: query
        required: false
        description: Compute Intensity and Gradient features from the cytoplasm channel
        schema:
          type: boolean
          default: true
      - name: foreground_threshold
        in: query
        required: false
        description: Intensity value to use as threshold to segment foreground in nuclear stain image
        schema:
          type: number
          format: double
          default: 60.0
      - name: fsd_features
        in: query
        required: false
        description: Compute Fourier Shape Descriptor Features
        schema:
          type: boolean
          default: true
      - name: fsd_bnd_pts
        in: query
        required: false
        description: Number of boundary points for computing FSD features
        schema:
          type: integer
          format: int32
          default: 128
      - name: fsd_freq_bins
        in: query
        required: false
        description: Number of frequency bins for calculating FSD features
        schema:
          type: integer
          format: int32
          default: 6
      - name: gradient_features
        in: query
        required: false
        description: Compute Gradient/Edge Features
        schema:
          type: boolean
          default: true
      - name: haralick_features
        in: query
        required: false
        description: Compute Haralick Texture Features
        schema:
          type: boolean
          default: true
      - name: ignore_border_nuclei
        in: query
        required: false
        description: Ignore/drop nuclei touching the image/tile border
        schema:
          type: boolean
          default: false
      - name: in_annotations
        in: query
        required: false
        description: A comma-separated list of column titles to include in the user attributes of output annotation elements.  Blank for none
        schema:
          type: string
          default: Feature.Size.Area,Feature.Size.MajorAxisLength,Feature.Size.MinorAxisLength,Feature.Shape.Circularity,Feature.Shape.Eccentricity,Feature.Nucleus.Intensity.Mean,Feature.Nucleus.Band0.Intensity.Mean,Feature.Nucleus.Band1.Intensity.Mean,Feature.Nucleus.Band2.Intensity.Mean
      - name: intensity_features
        in: query
        required: false
        description: Compute Intensity Features
        schema:
          type: boolean
          default: true
      - name: local_max_search_radius
        in: query
        required: false
        description: Local max search radius used for detection seed points in nuclei
        schema:
          type: number
          format: double
          default: 10.0
      - name: max_radius
        in: query
        required: false
        description: Maximum nuclear radius (used to set max sigma of the multiscale LoG filter)
        schema:
          type: number
          format: double
          default: 20.0
      - name: min_fgnd_frac
        in: query
        required: false
        description: The minimum amount of foreground that must be present in a tile for it to be analyzed
        schema:
          type: number
          format: double
          default: 0.25
      - name: min_nucleus_area
        in: query
        required: false
        description: Minimum area that each nucleus should have
        schema:
          type: number
          format: double
          default: 80.0
      - name: min_radius
        in: query
        required: false
        description: Minimum nuclear radius (used to set min sigma of the multiscale LoG filter)
        schema:
          type: number
          format: double
          default: 6.0
      - name: morphometry_features
        in: query
        required: false
        description: Compute Morphometry (Size and Shape) Features
        schema:
          type: boolean
          default: true
      - name: nuclei_annotation_format
        in: query
        required: false
        description: Format of the output nuclei annotations
        schema:
          type: string
          enum:
          - bbox
          - boundary
          default: boundary
      - name: num_glcm_levels
        in: query
        required: false
        description: Number of GLCM intensity levels (used to compute haralick features)
        schema:
          type: integer
          format: int32
          default: 32
      - name: num_threads_per_worker
        in: query
        required: false
        description: Number of threads to use per worker while setting up a local cluster internally. Must be a positive integer >= 1.
        schema:
          type: integer
          format: int32
          default: 1
      - name: num_workers
        in: query
        required: false
        description: Number of dask workers to start while setting up a local cluster internally. If a negative value is specified then the number of workers is set to number of cpu cores on the machine minus the number of workers specified.
        schema:
          type: integer
          format: int32
          default: -1
      - name: reference_mu_lab
        in: query
        required: false
        description: Mean of reference image in LAB color space for Reinhard color normalization as JSON (double-vector)
        schema:
          type: string
          default: '[8.63234435, -0.11501964, 0.03868433]'
      - name: reference_std_lab
        in: query
        required: false
        description: Standard deviation of reference image in LAB color space for Reinhard color normalization as JSON (double-vector)
        schema:
          type: string
          default: '[0.57506023, 0.10403329, 0.01364062]'
      - name: remove_overlapping_nuclei_segmentation
        in: query
        required: false
        description: Remove overlapping nuclei segmentation from the given region. It is recommended to use this approach when defining the tile overlap parameter.
        schema:
          type: boolean
          default: true
      - name: scheduler
        in: query
        required: false
        description: Address of the dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a cluster on the local machine
        schema:
          type: string
          default: ''
      - name: stain_1
        in: query
        required: false
        description: Name of stain-1
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
          default: hematoxylin
      - name: stain_1_vector
        in: query
        required: false
        description: Custom value for stain-1 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      - name: stain_2
        in: query
        required: false
        description: Name of stain-2
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - custom
          default: eosin
      - name: stain_2_vector
        in: query
        required: false
        description: Custom value for stain-2 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      - name: stain_3
        in: query
        required: false
        description: Name of stain-3
        schema:
          type: string
          enum:
          - hematoxylin
          - eosin
          - dab
          - 'null'
          - custom
          default: 'null'
      - name: stain_3_vector
        in: query
        required: false
        description: Custom value for stain-3 as JSON (double-vector)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0]'
      - name: tile_overlap_value
        in: query
        required: false
        description: Tile overlap size in pixels, Default value of -1 indicate that the tile overlap will be set to (max_radius + 1) * 4
        schema:
          type: integer
          format: int32
          default: -1
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Computes Nuclei Features
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ed7/rerun:
    post:
      description: 'Rerun a previous job: Description: <br/><br/>Classify nuclei in an image based on pre-computed features<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Deepak Roy Chittajallu (Kitware), Neal Siekierski (Kitware), Subin Erattakulangara (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_rerunHandler_post_cli_5f3d811c50cd9fe632566ed7_rerun
      parameters:
      - name: jobId
        in: query
        required: true
        description: The previous job ID
        schema:
          type: string
      - name: inputImageFile
        in: query
        required: false
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - inputImageFile: Input image file'
        schema:
          type: string
      - name: inputImageFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - inputImageFile: Input image file'
        schema:
          type: string
      - name: inputModelFile
        in: query
        required: false
        description: 'Girder ID of input file (if batch input, this is a regex for item names) - inputModelFile: Pickled file (*.pkl) of the scikit-learn model for classifying nuclei'
        schema:
          type: string
      - name: inputModelFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input file - inputModelFile: Pickled file (*.pkl) of the scikit-learn model for classifying nuclei'
        schema:
          type: string
      - name: outputNucleiAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot) with the same nuclei in input nuclei annotation file if provided) with nuclei sorted into groups based on class and accompanied by heatmaps of the classification probabilities'
        schema:
          type: string
      - name: outputNucleiAnnotationFile
        in: query
        required: false
        description: 'Name of output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot) with the same nuclei in input nuclei annotation file if provided) with nuclei sorted into groups based on class and accompanied by heatmaps of the classification probabilities'
        schema:
          type: string
      - name: inputNucleiAnnotationFile
        in: query
        required: false
        description: 'Girder ID of input file (if batch input, this is a regex for item names) - inputNucleiAnnotationFile: Input nuclei annotation file (*.anot) containing nuclei annotations in the same order as their features in the feature file'
        schema:
          type: string
      - name: inputNucleiAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input file - inputNucleiAnnotationFile: Input nuclei annotation file (*.anot) containing nuclei annotations in the same order as their features in the feature file'
        schema:
          type: string
      - name: inputNucleiFeatureFile
        in: query
        required: false
        description: 'Girder ID of input file (if batch input, this is a regex for item names) - inputNucleiFeatureFile: Input nuclei feature file (*.csv, *.h5) containing the features of all nuclei to be classified'
        schema:
          type: string
      - name: inputNucleiFeatureFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input file - inputNucleiFeatureFile: Input nuclei feature file (*.csv, *.h5) containing the features of all nuclei to be classified'
        schema:
          type: string
      - name: num_workers
        in: query
        required: false
        description: Number of dask workers to start while setting up a local cluster. If a negative value is specified then the number of workers is set to number of cpu cores on the machine minus the number of workers specified.
        schema:
          type: integer
          format: int32
      - name: scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Rerun Classify Nuclei
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ed7/run:
    post:
      description: 'Description: <br/><br/>Classify nuclei in an image based on pre-computed features<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Deepak Roy Chittajallu (Kitware), Neal Siekierski (Kitware), Subin Erattakulangara (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_cliHandler_post_cli_5f3d811c50cd9fe632566ed7_run
      parameters:
      - name: inputImageFile
        in: query
        required: true
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - inputImageFile: Input image file'
        schema:
          type: string
      - name: inputImageFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - inputImageFile: Input image file'
        schema:
          type: string
      - name: inputModelFile
        in: query
        required: true
        description: 'Girder ID of input file (if batch input, this is a regex for item names) - inputModelFile: Pickled file (*.pkl) of the scikit-learn model for classifying nuclei'
        schema:
          type: string
      - name: inputModelFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input file - inputModelFile: Pickled file (*.pkl) of the scikit-learn model for classifying nuclei'
        schema:
          type: string
      - name: outputNucleiAnnotationFile_folder
        in: query
        required: true
        description: 'Girder ID of parent folder for output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot) with the same nuclei in input nuclei annotation file if provided) with nuclei sorted into groups based on class and accompanied by heatmaps of the classification probabilities'
        schema:
          type: string
      - name: outputNucleiAnnotationFile
        in: query
        required: true
        description: 'Name of output file - outputNucleiAnnotationFile: Output nuclei annotation file (*.anot) with the same nuclei in input nuclei annotation file if provided) with nuclei sorted into groups based on class and accompanied by heatmaps of the classification probabilities'
        schema:
          type: string
          default: outputNucleiAnnotationFile.anot
      - name: inputNucleiAnnotationFile
        in: query
        required: false
        description: 'Girder ID of input file (if batch input, this is a regex for item names) - inputNucleiAnnotationFile: Input nuclei annotation file (*.anot) containing nuclei annotations in the same order as their features in the feature file'
        schema:
          type: string
      - name: inputNucleiAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input file - inputNucleiAnnotationFile: Input nuclei annotation file (*.anot) containing nuclei annotations in the same order as their features in the feature file'
        schema:
          type: string
      - name: inputNucleiFeatureFile
        in: query
        required: false
        description: 'Girder ID of input file (if batch input, this is a regex for item names) - inputNucleiFeatureFile: Input nuclei feature file (*.csv, *.h5) containing the features of all nuclei to be classified'
        schema:
          type: string
      - name: inputNucleiFeatureFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input file - inputNucleiFeatureFile: Input nuclei feature file (*.csv, *.h5) containing the features of all nuclei to be classified'
        schema:
          type: string
      - name: num_workers
        in: query
        required: false
        description: Number of dask workers to start while setting up a local cluster. If a negative value is specified then the number of workers is set to number of cpu cores on the machine minus the number of workers specified.
        schema:
          type: integer
          format: int32
          default: -1
      - name: scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Classify Nuclei
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ed9/rerun:
    post:
      description: 'Rerun a previous job: Description: <br/><br/>Sample the background of a slide to compute the median background intensity.<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_rerunHandler_post_cli_5f3d811c50cd9fe632566ed9_rerun
      parameters:
      - name: jobId
        in: query
        required: true
        description: The previous job ID
        schema:
          type: string
      - name: slide_path
        in: query
        required: false
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - slide_path: Path to input slide image to be deconvolved'
        schema:
          type: string
      - name: slide_path_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - slide_path: Path to input slide image to be deconvolved'
        schema:
          type: string
      - name: outputAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputAnnotationFile: Output intensity in SDA space (*.anot)'
        schema:
          type: string
      - name: outputAnnotationFile
        in: query
        required: false
        description: 'Name of output file - outputAnnotationFile: Output intensity in SDA space (*.anot)'
        schema:
          type: string
      - name: magnification
        in: query
        required: false
        description: Desired magnification for sampling.
        schema:
          type: number
          format: float
      - name: min_coverage
        in: query
        required: false
        description: Minimum background coverage required for a tile to be sampled from.
        schema:
          type: number
          format: float
      - name: sample_approximate_total
        in: query
        required: false
        description: Use instead of sample_fraction to specify roughly how many pixels to sample.  The fewer tiles are excluded, the more accurate this will be.
        schema:
          type: integer
          format: int32
      - name: sample_fraction
        in: query
        required: false
        description: Fraction of pixels to sample.  Specify either this or --sampleApproximateTotal
        schema:
          type: number
          format: float
      - name: scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
      - name: tissue_seg_mag
        in: query
        required: false
        description: Low resolution magnification at which foreground and background will be segmented.
        schema:
          type: number
          format: float
      - name: tile_grouping
        in: query
        required: false
        description: Number of tiles to process as part of a single task
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Rerun Compute Background Intensity
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566ed9/run:
    post:
      description: 'Description: <br/><br/>Sample the background of a slide to compute the median background intensity.<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_cliHandler_post_cli_5f3d811c50cd9fe632566ed9_run
      parameters:
      - name: slide_path
        in: query
        required: true
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - slide_path: Path to input slide image to be deconvolved'
        schema:
          type: string
      - name: slide_path_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - slide_path: Path to input slide image to be deconvolved'
        schema:
          type: string
      - name: outputAnnotationFile_folder
        in: query
        required: true
        description: 'Girder ID of parent folder for output file - outputAnnotationFile: Output intensity in SDA space (*.anot)'
        schema:
          type: string
      - name: outputAnnotationFile
        in: query
        required: true
        description: 'Name of output file - outputAnnotationFile: Output intensity in SDA space (*.anot)'
        schema:
          type: string
          default: outputAnnotationFile.anot
      - name: magnification
        in: query
        required: false
        description: Desired magnification for sampling.
        schema:
          type: number
          format: float
          default: 1.25
      - name: min_coverage
        in: query
        required: false
        description: Minimum background coverage required for a tile to be sampled from.
        schema:
          type: number
          format: float
          default: 0.1
      - name: sample_approximate_total
        in: query
        required: false
        description: Use instead of sample_fraction to specify roughly how many pixels to sample.  The fewer tiles are excluded, the more accurate this will be.
        schema:
          type: integer
          format: int32
          default: -1
      - name: sample_fraction
        in: query
        required: false
        description: Fraction of pixels to sample.  Specify either this or --sampleApproximateTotal
        schema:
          type: number
          format: float
          default: 0.1
      - name: scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
          default: ''
      - name: tissue_seg_mag
        in: query
        required: false
        description: Low resolution magnification at which foreground and background will be segmented.
        schema:
          type: number
          format: float
          default: 1.25
      - name: tile_grouping
        in: query
        required: false
        description: Number of tiles to process as part of a single task
        schema:
          type: integer
          format: int32
          default: 256
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Compute Background Intensity
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566edb/rerun:
    post:
      description: 'Rerun a previous job: Description: <br/><br/>Sample the foreground of a slide to compute the stain vectors using the Macenko method.<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_rerunHandler_post_cli_5f3d811c50cd9fe632566edb_rerun
      parameters:
      - name: jobId
        in: query
        required: true
        description: The previous job ID
        schema:
          type: string
      - name: sample_slide_path
        in: query
        required: false
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - sample_slide_path: Path to input slide image to be deconvolved'
        schema:
          type: string
      - name: sample_slide_path_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - sample_slide_path: Path to input slide image to be deconvolved'
        schema:
          type: string
      - name: macenko_I_0
        in: query
        required: false
        description: Background intensity in each channel as JSON (double-vector)
        schema:
          type: string
      - name: outputAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputAnnotationFile: Output stain annotation file (*.anot)'
        schema:
          type: string
      - name: outputAnnotationFile
        in: query
        required: false
        description: 'Name of output file - outputAnnotationFile: Output stain annotation file (*.anot)'
        schema:
          type: string
      - name: sample_magnification
        in: query
        required: false
        description: Desired magnification for sampling.  The default value indicates native scan magnification.
        schema:
          type: number
          format: float
      - name: macenko_max_angle_percentile
        in: query
        required: false
        description: The larger percentile of one of the vectors to pick from the angle distribution
        schema:
          type: number
          format: double
      - name: macenko_min_angle_percentile
        in: query
        required: false
        description: The smaller percentile of one of the vectors to pick from the angle distribution
        schema:
          type: number
          format: double
      - name: sample_min_coverage
        in: query
        required: false
        description: "Minimum background coverage required for a tile to\n      be sampled from."
        schema:
          type: number
          format: float
      - name: macenko_minimum_magnitude
        in: query
        required: false
        description: The magnitude below which vectors will be excluded from the computation of the angle distribution
        schema:
          type: number
          format: double
      - name: sample_sample_approximate_total
        in: query
        required: false
        description: Use instead of sample_fraction to specify roughly how many pixels to sample.  The fewer tiles are excluded, the more accurate this will be.
        schema:
          type: integer
          format: int32
      - name: sample_sample_fraction
        in: query
        required: false
        description: Fraction of pixels to sample.  Specify either this or --sampleApproximateTotal
        schema:
          type: number
          format: float
      - name: dask_scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
      - name: sample_tissue_seg_mag
        in: query
        required: false
        description: Low resolution magnification at which foreground and background will be segmented.
        schema:
          type: number
          format: float
      - name: sample_tile_grouping
        in: query
        required: false
        description: Number of tiles to process as part of a single task
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Rerun Separate Stains (PCA-based Macenko method)
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566edb/run:
    post:
      description: 'Description: <br/><br/>Sample the foreground of a slide to compute the stain vectors using the Macenko method.<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_cliHandler_post_cli_5f3d811c50cd9fe632566edb_run
      parameters:
      - name: sample_slide_path
        in: query
        required: true
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - sample_slide_path: Path to input slide image to be deconvolved'
        schema:
          type: string
      - name: sample_slide_path_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - sample_slide_path: Path to input slide image to be deconvolved'
        schema:
          type: string
      - name: macenko_I_0
        in: query
        required: true
        description: Background intensity in each channel as JSON (double-vector)
        schema:
          type: string
      - name: outputAnnotationFile_folder
        in: query
        required: true
        description: 'Girder ID of parent folder for output file - outputAnnotationFile: Output stain annotation file (*.anot)'
        schema:
          type: string
      - name: outputAnnotationFile
        in: query
        required: true
        description: 'Name of output file - outputAnnotationFile: Output stain annotation file (*.anot)'
        schema:
          type: string
          default: outputAnnotationFile.anot
      - name: sample_magnification
        in: query
        required: false
        description: Desired magnification for sampling.  The default value indicates native scan magnification.
        schema:
          type: number
          format: float
          default: -1.0
      - name: macenko_max_angle_percentile
        in: query
        required: false
        description: The larger percentile of one of the vectors to pick from the angle distribution
        schema:
          type: number
          format: double
          default: 0.99
      - name: macenko_min_angle_percentile
        in: query
        required: false
        description: The smaller percentile of one of the vectors to pick from the angle distribution
        schema:
          type: number
          format: double
          default: 0.01
      - name: sample_min_coverage
        in: query
        required: false
        description: "Minimum background coverage required for a tile to\n      be sampled from."
        schema:
          type: number
          format: float
          default: 0.1
      - name: macenko_minimum_magnitude
        in: query
        required: false
        description: The magnitude below which vectors will be excluded from the computation of the angle distribution
        schema:
          type: number
          format: double
          default: 16.0
      - name: sample_sample_approximate_total
        in: query
        required: false
        description: Use instead of sample_fraction to specify roughly how many pixels to sample.  The fewer tiles are excluded, the more accurate this will be.
        schema:
          type: integer
          format: int32
          default: -1
      - name: sample_sample_fraction
        in: query
        required: false
        description: Fraction of pixels to sample.  Specify either this or --sampleApproximateTotal
        schema:
          type: number
          format: float
          default: -1.0
      - name: dask_scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
          default: ''
      - name: sample_tissue_seg_mag
        in: query
        required: false
        description: Low resolution magnification at which foreground and background will be segmented.
        schema:
          type: number
          format: float
          default: 1.25
      - name: sample_tile_grouping
        in: query
        required: false
        description: Number of tiles to process as part of a single task
        schema:
          type: integer
          format: int32
          default: 256
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Separate Stains (PCA-based Macenko method)
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566edd/rerun:
    post:
      description: 'Rerun a previous job: Description: <br/><br/>Counts different types of positive pixels based on values in the HSI color space<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): David Manthey (Kitware), Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_rerunHandler_post_cli_5f3d811c50cd9fe632566edd_rerun
      parameters:
      - name: jobId
        in: query
        required: true
        description: The previous job ID
        schema:
          type: string
      - name: inputImageFile
        in: query
        required: false
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - inputImageFile: Input image in which to count and classify positive pixels'
        schema:
          type: string
      - name: inputImageFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - inputImageFile: Input image in which to count and classify positive pixels'
        schema:
          type: string
      - name: hue_value
        in: query
        required: false
        description: Center of the hue range in HSI space for the positive color, in the range [0, 1]
        schema:
          type: number
          format: float
      - name: hue_width
        in: query
        required: false
        description: Width of the hue range in HSI space
        schema:
          type: number
          format: float
      - name: saturation_minimum
        in: query
        required: false
        description: Minimum saturation of positive pixels in HSI space, in the range [0, 1]
        schema:
          type: number
          format: float
      - name: intensity_upper_limit
        in: query
        required: false
        description: Intensity threshold in HSI space above which a pixel is considered negative, in the range [0, 1]
        schema:
          type: number
          format: float
      - name: intensity_weak_threshold
        in: query
        required: false
        description: Intensity threshold in HSI space that separates weak-positive pixels (above) from plain positive pixels (below)
        schema:
          type: number
          format: float
      - name: intensity_strong_threshold
        in: query
        required: false
        description: Intensity threshold in HSI space that separates plain positive pixels (above) from strong positive pixels (below)
        schema:
          type: number
          format: float
      - name: intensity_lower_limit
        in: query
        required: false
        description: Intensity threshold in HSI space below which a pixel is considered negative
        schema:
          type: number
          format: float
      - name: frame
        in: query
        required: false
        description: Frame index in a multi-frame image
        schema:
          type: string
      - name: outputAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputAnnotationFile: Annotation to relate the image to the source (*.anot)'
        schema:
          type: string
      - name: outputAnnotationFile
        in: query
        required: false
        description: 'Name of output file - outputAnnotationFile: Annotation to relate the image to the source (*.anot)'
        schema:
          type: string
      - name: num_threads_per_worker
        in: query
        required: false
        description: Number of threads to use per worker while setting up a local cluster internally. Must be a positive integer >= 1.
        schema:
          type: integer
          format: int32
      - name: num_workers
        in: query
        required: false
        description: Number of dask workers to start while setting up a local cluster internally. If a negative value is specified then the number of workers is set to number of cpu cores on the machine minus the number of workers specified.
        schema:
          type: integer
          format: int32
      - name: outputLabelImage_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output image - outputLabelImage: Color-coded image of the region, showing the various classes of pixel'
        schema:
          type: string
      - name: outputLabelImage
        in: query
        required: false
        description: 'Name of output image - outputLabelImage: Color-coded image of the region, showing the various classes of pixel'
        schema:
          type: string
      - name: outputImageForm
        in: query
        required: false
        description: The output image can either be colored for easy visibility or coded as categorical values where 0 is negative, 1 weak, 2 plain, and 3 strong
        schema:
          type: string
          enum:
          - visible
          - pixelmap
      - name: region
        in: query
        required: false
        description: Region of interest where analysis is performed.  This is either -1,-1,-1,-1 for the whole image, or a four-element vector in the format "left, top, width, height", or a list of four or more x,y vertices to specify a polygon. as JSON (region)
        schema:
          type: string
      - name: scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
      - name: style
        in: query
        required: false
        description: Image style options for compositing a multi-frame image
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: A parameter was invalid.
      summary: Rerun Positive Pixel Count
      tags:
      - slicer_cli_web
  /slicer_cli_web/cli/5f3d811c50cd9fe632566edd/run:
    post:
      description: 'Description: <br/><br/>Counts different types of positive pixels based on values in the HSI color space<br/><br/>Version: 0.1.0<br/><br/>License: Apache 2.0<br/><br/>Author(s): David Manthey (Kitware), Neal Siekierski (Kitware)<br/><br/>Acknowledgements: This work is part of the HistomicsTK project.'
      operationId: slicer_cli_web_cliHandler_post_cli_5f3d811c50cd9fe632566edd_run
      parameters:
      - name: inputImageFile
        in: query
        required: true
        description: 'Girder ID of input image (if batch input, this is a regex for item names) - inputImageFile: Input image in which to count and classify positive pixels'
        schema:
          type: string
      - name: inputImageFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for batch input image - inputImageFile: Input image in which to count and classify positive pixels'
        schema:
          type: string
      - name: hue_value
        in: query
        required: true
        description: Center of the hue range in HSI space for the positive color, in the range [0, 1]
        schema:
          type: number
          format: float
          default: 0.83
      - name: hue_width
        in: query
        required: true
        description: Width of the hue range in HSI space
        schema:
          type: number
          format: float
          default: 0.15
      - name: saturation_minimum
        in: query
        required: true
        description: Minimum saturation of positive pixels in HSI space, in the range [0, 1]
        schema:
          type: number
          format: float
          default: 0.05
      - name: intensity_upper_limit
        in: query
        required: true
        description: Intensity threshold in HSI space above which a pixel is considered negative, in the range [0, 1]
        schema:
          type: number
          format: float
          default: 0.95
      - name: intensity_weak_threshold
        in: query
        required: true
        description: Intensity threshold in HSI space that separates weak-positive pixels (above) from plain positive pixels (below)
        schema:
          type: number
          format: float
          default: 0.65
      - name: intensity_strong_threshold
        in: query
        required: true
        description: Intensity threshold in HSI space that separates plain positive pixels (above) from strong positive pixels (below)
        schema:
          type: number
          format: float
          default: 0.35
      - name: intensity_lower_limit
        in: query
        required: true
        description: Intensity threshold in HSI space below which a pixel is considered negative
        schema:
          type: number
          format: float
          default: 0.05
      - name: frame
        in: query
        required: false
        description: Frame index in a multi-frame image
        schema:
          type: string
          default: '{#control:#current_image_frame#}'
      - name: outputAnnotationFile_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output file - outputAnnotationFile: Annotation to relate the image to the source (*.anot)'
        schema:
          type: string
      - name: outputAnnotationFile
        in: query
        required: false
        description: 'Name of output file - outputAnnotationFile: Annotation to relate the image to the source (*.anot)'
        schema:
          type: string
          default: outputAnnotationFile.anot
      - name: num_threads_per_worker
        in: query
        required: false
        description: Number of threads to use per worker while setting up a local cluster internally. Must be a positive integer >= 1.
        schema:
          type: integer
          format: int32
          default: 1
      - name: num_workers
        in: query
        required: false
        description: Number of dask workers to start while setting up a local cluster internally. If a negative value is specified then the number of workers is set to number of cpu cores on the machine minus the number of workers specified.
        schema:
          type: integer
          format: int32
          default: -1
      - name: outputLabelImage_folder
        in: query
        required: false
        description: 'Girder ID of parent folder for output image - outputLabelImage: Color-coded image of the region, showing the various classes of pixel'
        schema:
          type: string
      - name: outputLabelImage
        in: query
        required: false
        description: 'Name of output image - outputLabelImage: Color-coded image of the region, showing the various classes of pixel'
        schema:
          type: string
          default: outputLabelImage.tiff
      - name: outputImageForm
        in: query
        required: false
        description: The output image can either be colored for easy visibility or coded as categorical values where 0 is negative, 1 weak, 2 plain, and 3 strong
        schema:
          type: string
          enum:
          - visible
          - pixelmap
          default: visible
      - name: region
        in: query
        required: false
        description: Region of interest where analysis is performed.  This is either -1,-1,-1,-1 for the whole image, or a four-element vector in the format "left, top, width, height", or a list of four or more x,y vertices to specify a polygon. as JSON (region)
        schema:
          type: string
          default: '[-1.0, -1.0, -1.0, -1.0]'
      - name: scheduler
        in: query
        required: false
        description: Address of a dask scheduler in the format '127.0.0.1:8786'.  Not passing this parameter sets up a dask cluster on the local machine.  'multiprocessing' uses Python multiprocessing.  'multithreading' uses Python multiprocessing in threaded mode.
        schema:
          type: string
          default: ''
      - name: style
        in: query
        required: false
[...]
